[2014-05-29 22:52] nicksavers opened #18 "Merge HELLO messages"
HELLO_MESSAGE is defined twice.
Can these be merged into a single message?

https://github.com/romanman/ethereumj/blob/master/src/main/java/org/ethereum/net/peerdiscovery/EthereumPeerTasterHandler.java#L58

and

https://github.com/romanman/ethereumj/blob/master/src/main/java/org/ethereum/net/message/StaticMessages.java#L26

[2014-05-30 20:51] #18 closed, assigned to nobody

[2014-06-23 04:43] esques opened #38 "Separate UI from Backend"
In order to integrate Ethereumj into new products, a separation of the core and the UI is needed. When do you plan to make this happen?

[2014-06-28 09:44] nicksavers opened #44 "Contract Call dialog: Exception DataWord cast to String"
Reproducable by
- opening Contract Call dialog
- enter an existing contract.
- click (+) button

**Stacktrace**
[code]

**Cause:** See [ContractCallDialog: line 230](https://github.com/ethereum/ethereumj/blob/master/ethereumj-studio/src/main/java/org/ethereum/gui/ContractCallDialog.java#L232)

[code]
```new JTableStorageModel(storageMap)``` expects a ```Map<String, String>``` but ```ContractDetail

[2014-06-28 09:44] nicksavers opened #45 "NullPointerException in ContractCallDialog"
NullPointerException occurs in Contract Call dialog when entering in the input field:
- a non-existing address
- an existing contract (from testnet) before the tx is retrieved in which this was created.
  (for example) `0115554959f43bf1d04cd7e3749d00fb0623ce1f`

[code]

[2014-07-03 11:38] romanman opened #54 "Transaction pending is not released but executed right"
The GUI is not released for transaction invoke

[2014-07-04 17:08] #54 closed, assigned to nobody

[2014-07-14 07:30] romanman opened #66 "DataWord improve , calling address by choping 20 bytes"
Use dataWord.get20LastBytes in place of dataWord.getNoLeadZeroesData
each place that address to be extracted.

[2014-07-14 13:25] romanman opened #67 "NegativeArraySizeException"
NegativeArraySizeException on length inside Program.getDataCopy()
now it happens on 1984 block

[2014-07-14 13:26] romanman opened #68 "Memory leak"
Around 2000 block heap grows to ~750Mb

[2014-07-14 19:01] #68 closed, assigned to nobody

[2014-08-14 11:20] srmcatee1110 opened #78 "No Peers"
Hello,  This may be more a noob question instead of a bug in the code.

When I run the binaries the windows all open and such.  But I only see one peer and I get a disconnect due to network protocol.  Should I be able to see more peers?  Not sure how to trouble shoot this.  I tried pinging the one peer that was listed but I cannot ping it.

thanks and please advise.

[2014-08-14 13:01] #78 closed, assigned to nobody

[2014-08-16 22:26] androlo opened #80 "Blockchain issue (commit f71b01d8cb61574fa29e84a464293b182c818e1b)"
00:20:54 [blockchain]  STATE CONFLICT 7888c51a..: bd2704c566ca79441f8c2ff4f34e142455dc53391af1cc2b42b5c303a251100a

00:20:54 [blockchain]  ERROR: STATE CONFLICT! block: 1501 worldstate 27920c6c7acd42c8a7ac8a835d4c0e0a45590deb094d6b72a8493fac5d7a3654 mismatch

[2014-08-18 12:30] srmcatee1110 opened #82 "Transaction timeout"
Got things up and running but every time I send a contract the network times out. I've pulled most of the sample contracts and tried each one to no avail.

So either I'm missing something or maybe I need more horsepower on my server. Can anyone advise as to what is needed to get a contract to approve and put on the block chain.

Thanks.

ps.  this stuff is pretty awesome.  Just wish I could get ov

[2014-08-18 20:54] #66 closed, assigned to nicksavers

[2014-08-18 20:58] #80 closed, assigned to nobody

[2014-08-19 12:48] #82 closed, assigned to nobody

[2014-08-19 17:31] romanman opened #84 "GET_PEERS must be responded by PEERS"
It wasn't enforced by cpp peer in
old versions but from poc-6 it looks
like cpp expecting for the response
on GET_PEERS by PEERS msg.

[2014-08-20 02:55] srmcatee1110 opened #85 "Transaction Timeout"
K.  I left some comments on the ether forum.  The gentleman I spoke to instructed me to put quite a bit of gas in the transaction.  If I was still timing out.  he suggested I post in the client issue list.

So here is the post.

I can't get any transfer of funds or contract executed.  It all times out.  The Java message is.

21:53:47 [TransactionTask]  call() tx: TransactionData [ hash=null  nonce

[2014-08-24 18:58] nicksavers opened #91 "Avoid erronous or incomplete state changes in database"
The ideal is to be able to download the chain, shutdown (either because the block or tx is invalid or because of other reasons) and try again later after restarting, perhaps having fixed a bug.

In some scenario's this doesn't happen. If a block or transactions produces an incorrect result (post tx state or block state root conflicts with the state given in the block) then the state changes are no

[2014-08-26 11:23] nicksavers opened #92 "New DUP1...16 and SWAP1...16 op codes"
This would mainly be to facilitate LLVM cross-compilation.

Also Invalidate old DUP/SWAP
`0x51`, `0x52` now become `INVALID`

[2014-08-26 11:24] nicksavers opened #93 "New GHOST protocol"
New GHOST protocol
- A block can contain as uncles headers which satisfy all of the following criteria:
- They are valid headers (not necessarily valid blocks)
- Their parent is a kth generation ancestor for k in {2, 3, 4, 5, 6, 7}
- They were not uncles of the kth generation ancestor for k in {1, 2, 3, 4, 5, 6}
- The uncle reward is increased to 15/16x the main block reward
- The nephew reward (i

[2014-08-26 11:25] nicksavers opened #94 "Blockchain size optimisations"
for blocks, block.hash = sha3(rlp.encode(block.header))
For accounts which don't have code, the code is ""
and the codehash is "" (instead of sha3(()) as in PoC5)
for contract-creation transactions, address is empty rather than 000000000000000...

[2014-08-26 11:26] nicksavers opened #95 "New POST op code"
0xf3 POST   (exactly the same as CALL, but async - guaranteed to be faithfully executed immediately after this transaction in FIFO queue).

Happens prior to suicides but immediately after the contract is created, so you can effectively call into a contract you've just created.

args: GAS TO VALUE MEMSTART MEMSZ
leaves nothing a top stack.

running:
`{ (post 1000 (address) 0 0 0) (returnlll (suicid

[2014-08-26 11:36] nicksavers opened #96 "New ADDMOD/MULMOD op codes"
[code]

[2014-08-26 11:37] nicksavers opened #97 "Invalidate old DUP/SWAP"
`0x51`, `0x52` now become `INVALID`

[2014-08-26 11:42] nicksavers opened #98 "Parallel downloads (new networking protocol)"
New network protocol & strategy.

For more details, see:
https://github.com/ethereum/wiki/wiki/Ethereum-Wire-Protocol

[2014-08-26 11:45] #67 closed, assigned to nobody

[2014-08-26 12:16] #97 closed, assigned to nobody

[2014-08-26 12:33] nicksavers opened #99 "Implement test CALL contract with gas > gasRemaining && gas > Long.MAX_VALUE"
When calling another contract, you can specify the amount of gas to reserve for that call. Not only should the amount of gas not exceed the gas remaining, it also shouldn't be larger than java.lang.Long because of the risk of an overflow.

See: https://github.com/ethereum/ethereumj/commit/a4b8835bac0a5398355bb345e10ffadd214d7127

[2014-08-27 20:09] romanman opened #102 "Trie doesn't remove obsolete nodes from cache and database"
[code]

[2014-08-29 13:33] romanman opened #103 "PeerDiscovery window lags scrolling"
PeerDiscovery window lags scrolling after concurrent
improvements

[2014-08-31 14:04] srmcatee1110 opened #104 "Too Many Files open error."
Just downloaded 0.5.3.  After the chain catches up I get my normal timeout.  But also got this.

14:00:00 [peerdiscovery]
io.netty.handler.timeout.ReadTimeoutException
log4j:WARN Exception during rollover, rollover deferred.
java.io.FileNotFoundException: ./logs/ethereum_2014-08-31_h14.log (Too many open files)
    at java.io.FileOutputStream.open(Native Method)
    at java.io.FileOutputStream.<in

[2014-08-31 14:09] #85 closed, assigned to nobody

[2014-08-31 14:12] srmcatee1110 opened #105 "Wallet Transfer - Transaction Timeout"
K.  I have modded the system config so the database persists.  Which allows it to catch up sooner.

So I have things running and I've done the following call.

Please note.  I am running a desktop on AWS.  I've unblocked and opened it up so nothing can be blocking.  Would there be another log which would capture the error?

14:06:57 [TransactionTask]  call() tx: TransactionData [ hash=null  nonce=

[2014-08-31 14:13] #104 closed, assigned to nobody

[2014-08-31 14:30] srmcatee1110 opened #106 "Null Pointer exception in Trie"
I caught this in the console.  Once I fired up the server and let the block chain catch up.  After I hit the connection console I get this error thrown as I connect and start pulling down new blocks.

14:27:15 [block]  new Block from RLP encoded [ f8b7f8b3a0871420ae603393fa6711f0344e8c1bf61034a14d2039e02ac9cca7cde81f63c3a01dcc4de8dec75d7aab85b567b6ccd41ad312451b948a7413f0a142fd40d4934794a70abb9ed4

[2014-08-31 14:34] #106 closed, assigned to nobody

[2014-09-01 08:33] alonmuroch opened #108 "Blockchain async loading + loading listener"
Load the blockchain async and plug a listener so other components could track the progress.

[2014-09-01 08:37] alonmuroch opened #109 "Coin class"
Currently coins are represented as BigIntegers. We should wrap them in a coin class and implement all coin manipulation there (custom denominations, comparison, stringifying, etc.)

[2014-09-01 08:39] #109 closed, assigned to nobody

[2014-09-01 08:41] #108 closed, assigned to nobody

[2014-09-07 15:06] srmcatee1110 opened #113 "BLOCK: STATE CONFLICT"
Just downloaded most recent code.

After a few minutes I start getting Block State conflict.

15:04:17 [state]  BLOCK: STATE CONFLICT! block: 15428 worldstate 86c18f6491fdd532ae6dbf8b8d34ec2780b435f281bf11f33ee54f0265eeb58a mismatch
15:04:17 [blockchain]  **\* Last block added [ #15428 ]
15:04:17 [state]  BLOCK: STATE CONFLICT! block: 15429 worldstate 7ca1d890ede0c3810b45cb9720159243b6d3168802659a

[2014-09-09 08:17] #38 closed, assigned to romanman

[2014-09-10 06:39] #113 closed, assigned to nicksavers

[2014-09-10 06:40] romanman opened #116 "Block #26074 state conflict"
POC-5 chain Block #26074
state conflict

cpp dump --> https://app.box.com/s/7irguuw0hjzd2j1ckiao

[2014-09-10 09:16] #103 closed, assigned to nobody

[2014-09-11 07:54] zakariyah opened #117 "Todo list link is broken"
Hi,

Guys we are interested in contributing to the java etherum project but the to-do list link is broken. Can you please kindly fix the link or provide us with the latest to-do feature list.

[2014-09-11 09:13] #117 closed, assigned to nobody

[2014-09-14 15:36] nicksavers opened #121 "New CALLSTATELESS op code"
Stateless contracts:
Additional opcode: 0xf4: CALLSTATELESS
Calls self, but grabbing the code from the TO argument instead of from one's own address

[2014-09-14 15:38] nicksavers opened #122 "New EXTCODECOPY, EXTCODESIZE op codes"
0x3b EXTCODECOPY
0x3c EXTCODESIZE
like CODECOPY, CODESIZE but takes an additional parameter at beginning (top of stack) containing address from which to copy.

[2014-09-14 21:24] #102 closed, assigned to nobody

[2014-09-15 08:13] romanman opened #124 "Rollback mechanism"
The rollback mechanism that allows block chain
to evict any number of blocks is based on the
trie basic functionality with "garbage" nodes
that actually are formatting the history of all trie
changes.

In that case all the - details - of the account which are
 storage and the code should be also encoded as trie
 data structure to be able support root changes in the
 account trie db.

[2014-09-17 12:35] nicksavers opened #125 "Zero-size memory reads/writes do not lead to a size increase for fee purposes"
As specified in title...

Previously the new memory size was calculated as offset + size. In case the size is 0, the memory will not increase and thus cause no fees and no increase in memory allocation.

[2014-09-17 23:56] biafra23 opened #126 "Javadoc problems break build of ethereumj-core"
When I try to execute mvn package (either wih maven 3.0.5 and 3.2.2) it complains abut javadoc errrors and does not complete the build. You should be able to reproduce this with mvn javadoc:javadoc also. I tried to have it fixed with mvn javadoc:fix, but that did only fix some of the warnings.

The following problems remained: https://gist.github.com/biafra23/6633b45062c9d09ff0ba
What can I do to

[2014-09-20 09:12] #45 closed, assigned to nobody

[2014-09-21 17:27] elichai opened #129 "ethereumj-core error when try to run"
After i compile the code i try to run the jar "target\ethereumj-0.5.7.jar" and i get this error:
Error: Could not find or load main class org.ethereum.gui.ToolBar

[2014-09-23 05:38] biafra23 opened #130 "NPE when running run.sh"
After building ethereumj-studio and running it via ./run.sh I get the following Exception. Looking at the code it seems the cuurent code is incompatible with the current network.

Exception in thread "AWT-EventQueue-0" java.lang.NullPointerException
    at org.ethereum.net.message.HelloMessage.parseRLP(HelloMessage.java:53)
    at org.ethereum.net.message.HelloMessage.getCapabilities(HelloMessage.

[2014-09-23 10:49] #129 closed, assigned to nobody

[2014-09-24 12:40] srmcatee1110 opened #131 "Wallet Transfer Timeout"
I just pulled down the latest code.

I still get a timeout issue.

[2014-09-25 06:28] alonmuroch opened #132 "Closing etherj-studio while downloading blocks causes db corruption"

[2014-09-25 08:46] #132 closed, assigned to nobody

[2014-09-25 13:36] #131 closed, assigned to nobody

[2014-09-27 03:18] srmcatee1110 opened #133 "Running the new core and studio"
Now that the code has been separated.  Is there a shell command for either or recommended Java syntax to execute either?

Not sure what java command line to execute to have either the core or studio run....  Or do I need to be patient to the next release :)

[2014-10-07 20:21] nicksavers opened #134 "new JUMPDEST op code"
0x5d JUMPDEST
    - noop, 1 gas
    - JUMP and JUMPI operations must go to a location containing a JUMPDEST, otherwise they are equivalent to INVALID/STOP
    - only effective prior to any JUMP/JUMPI.

Logic behind this op code is the JIT compilation. Arbitrary jumps makes it hard.

[2014-10-07 20:33] nicksavers opened #135 "P2P support IPv6"
Allow IPv6 to be used over the ethereum peer network

*Peers [0x05, [ip1: B_4 OR B_16, port1: P, id1: B_64], [ip2: B_4 OR B_16, port2: P, id2: B_64], ... ]*

ip is either a 4-byte array 'ABCD' that should be interpreted as the IPv4 address A.B.C.D or a 8-byte array 'ABCDEFGHIJKLMNOP' that should be interpreted as the IPv6 address AB:CD:EF:GH:IJ:KL:MN:OP.
port is a 2-byte array that should be inter

[2014-10-07 20:44] nicksavers opened #136 "P2P adaptive message ids"
Dynamic numeric identities for the sub protocol message types rather than the current fixed id system. This way we don't have to reserve parts of the message ID space up front and have a central entity to police this space to prevent clashes.

All sub-protocol message IDs begin at 0x10 and count only those messages in the shared protocols, in alphabetical order. Sub-protocol versioning is provided

[2014-10-07 20:45] #95 closed, assigned to nicksavers

[2014-10-07 20:46] nicksavers opened #137 "Remove POST op code"
Remove POST code from VM.java and Program.java, see #95

[2014-10-07 20:53] nicksavers opened #138 "CALLSTATELESS becomes CALLCODE"
change is only in name. CALLSTATELESS is a right mouthful and not especially descriptive. The definition of it is to make a recursive call into the calling contract substituting its code for that of another. CALLCODE has the right two keywords.

Also move to 0xf3 otherwise there's a weird void in the instruction space.

[2014-10-07 21:06] nicksavers opened #139 "Additional message NewBlock"
At present Blocks messages may be sent either as a response to a GetBlocks message receipt or due to a new block being mined or discovered. This causes some issues for the state transition mechanisms, which are to be avoided.

Adding a **NewBlock** message to the `eth` sub-protocol

_[0x07, [blockHeader, transactionList, uncleList], totalDifficulty]_ Specify a single block that the peer should kno

[2014-10-07 21:50] nicksavers opened #140 "Asic resistant Proof of Work"
* At this point, heavily biasing the algorithm towards a https://vaurum.com/hashimoto.pdf variant seems like the logical approach; see https://docs.google.com/document/d/1t_LVAK-jnmdIcrTIfTiIV-T9LBldc_sungSjNEAKdSI
* The tape might be converted to a primitive recursive function generator of some kind
* SAT is also doable
* The reference implementation is confirmed to work

All algorithms are defin

[2014-10-07 22:43] nicksavers opened #141 "Pre-compiled contract address for ECRECOVER"
Call:
ECRECOVER + 500 gas [hash, v, r, s] <- 32 byte fields, output = 32 bytes = sha3(64-byte public key). if invalid signature, nothing is output.

(Using CALLCODE on this address results in empty code)

[2014-10-07 22:43] nicksavers opened #142 "Pre-compiled contract address for SHA256"
Call to:
SHA256 + 100 gas [ databytes ] <- ie accepts any input and hashes that, output = 32 bytes

(Using CALLCODE on this address results in empty code)

[2014-10-07 22:44] nicksavers opened #143 "Pre-compiled contract address for RIPEMD160"
Call to:
RIPEMD160 + 100 gas [ databytes ] <- ie accepts any input and hashes that, output = 32 bytes, left aligned.

(Using CALLCODE on this address results in empty code)

[2014-10-10 17:32] #84 closed, assigned to nicksavers

[2014-10-10 17:32] #92 closed, assigned to nicksavers

[2014-10-10 17:32] #93 closed, assigned to nicksavers

[2014-10-10 17:32] #94 closed, assigned to nicksavers

[2014-10-10 17:32] #96 closed, assigned to nicksavers

[2014-10-10 17:32] #125 closed, assigned to nicksavers

[2014-10-10 17:32] #122 closed, assigned to nicksavers

[2014-10-10 17:47] nicksavers opened #144 "Reach compatibility with poc6 tests"
The Ethereum team has updated their tests suite for poc6
See: https://github.com/ethereum/tests

Not all tests pass yet.

[2014-10-16 13:41] #116 closed, assigned to nobody

[2014-10-16 16:22] #139 closed, assigned to romanman

[2014-10-18 15:16] srmcatee1110 opened #146 "Peer Discovery Not Working"
Just downloaded 0.7.1

When I connect I connect to 207.12.89.101.

I do not get any other peers.  Also, the console notes it has added Genesis.  but it stops and appears to not add the rest of the block chain with a clean start.

I've attached my config file.

[code]

[2014-10-19 17:37] #133 closed, assigned to nobody

[2014-10-19 17:50] #146 closed, assigned to nobody

[2014-10-19 17:51] srmcatee1110 opened #147 "Unable to Connect"
Downloaded build 1.7.0_65

It sits there and tries to connect to 207.12.89.180:30303

After three minutes no connection.

Is the server hung?

[2014-10-20 10:06] #138 closed, assigned to nicksavers

[2014-10-20 10:06] #137 closed, assigned to nicksavers

[2014-10-20 10:06] #121 closed, assigned to nicksavers

[2014-10-24 22:58] #134 closed, assigned to nicksavers

[2014-10-24 22:59] #136 closed, assigned to romanman

[2014-10-24 23:02] #144 closed, assigned to nicksavers

[2014-10-25 13:34] #126 closed, assigned to nobody

[2014-10-25 14:33] #98 closed, assigned to nicksavers

[2014-10-25 16:58] #130 closed, assigned to nobody

[2014-10-25 17:29] smcateedhcu opened #149 "v0.7.2 - Peers never connect"
Just downloaded latest.  When I startup connect and list peers.  None of the peers connect.
Please advise what the correct setting in the config should be:

Here is my current config.

[code]

And from the Console

[code]

[2014-10-25 17:31] #149 closed, assigned to nobody

[2014-10-25 17:36] smcateedhcu opened #150 "7.2 - Not Connecting to Peer"
K.  I have modified the system properties to look for peers.  The peers list says I'm connecting.

However, when I go to do a wallet transfer it says you are not connected to peer.
Please note, I started prior so the database did not have to rebuild.
Here's the connection console:
Connecting to: 185.43.109.23:30303

Here's the console:
17:33:06 [Intro]
17:33:06 [Intro]  |Ξ|  EthereumJ [v0.7.2]
17:

[2014-10-25 17:37] #147 closed, assigned to nobody

[2014-10-25 17:38] #150 closed, assigned to nobody

[2014-10-25 17:39] smcateedhcu opened #151 "7.2 - Not Connecting to Peer"
K. I have modified the system properties to look for peers. The peers list says I'm connecting.

However, when I go to do a wallet transfer it says you are not connected to peer.
Please note, I started prior so the database did not have to rebuild.
Here's the connection console:

[code]

Here's the console:

[code]

And the System Properties:

[code]

[2014-10-25 17:46] nicksavers opened #152 "Transaction logs with new LOG op codes"
log\* is defined as a data structure containing the logmaker, 0-4 topics, and the log data.

`0xa0 ... 0xa4, 32/64/96/128/160 + len(data) gas`
- Opcodes LOG0...LOG4 are added, takes 2-6 stack arguments MEMSTART MEMSZ (TOPIC1) (TOPIC2) (TOPIC3) (TOPIC4)
- Logs are kept track of during tx execution exactly the same way as suicides (except as an ordered list, not a set). Each log is in the form [addr

[2014-10-25 17:48] nicksavers opened #153 "Replace NEG op code with BNOT"
Kill NEG, replace with BNOT = lambda x: 2**256 - 1 - x

[2014-10-25 17:50] nicksavers opened #154 "New SIGNEXTEND op code"
Add SIGNEXTEND at 0x16: takes [x, k], k is the byte number (0 lowest, 255 highest), if bit k is 1, then sets all bytes more significant than k to 1, otherwise sets them all to 0

[2014-10-25 18:13] nicksavers opened #155 "Change SSTORE mechanics"
- SSTORE from nonzero to nonzero costs 100 gas
- SSTORE from zero to nonzero costs 300 gas
- SSTORE from nonzero to zero costs 0 gas, and adds 100 gas to a GASREFUND counter (handled same way as suicides)
- at the end of a non-OOG execution, an account is refunded min(GASREFUND, gas_used / 2) # max refund 50% since otherwise contracts would have the ability to trigger many refunds and completely d

[2014-10-25 18:17] nicksavers opened #156 "New JUMPSTATIC/JUMPISTATIC op codes"
Works like a jump that grabs the dest coordinate the same way as PUSH

JUMPSTATIC1...JUMPSTATIC8 at 0xa0 ... 0xa7
JUMPISTATIC1 ... JUMPISTATIC8 at 0xa8 ... 0xaf

Gas cost: JUMPSTATIC/JUMPISTATIC: 30

**Note:** Still under consideration

[2014-10-26 13:47] nicksavers opened #157 "Subprotocol subnets"
Network subprotocol becomes `[id: B_3, version: P, networkId: P]`
Full triplet must match for the subprotocols to be considered compatible.

[2014-10-26 14:08] nicksavers opened #158 "Exception severity uniform"
All 'unintended' exceptions (including `InvalidOperation` and `StackUnderflow` and `BadJumpDestination`) work like `OutOfGas`. Key point: accessing a PC outside of the code (`PcOverflow`) is an implicit `\x00` with is `STOP`, not `INVALID`, so returns `[]`

[2014-10-26 14:56] nicksavers opened #159 "Gas cost changes"
**Note:** This idea is not final and will probably only be implemented once the JIT is ready

JUMPDEST: 10
JUMP: 60
CALL: 100
CREATE: 200
EXP: 1 base plus 1 per byte in exponent, OR flat 10

[2014-10-26 15:52] nicksavers opened #160 "Bloom filters"
Blooms are the 3-point, 512-bit (9-bits/point) Bloom filter of each component (except data) of each log entry of each transaction. We set the bits of a 512-bit value whose indices are given by the low order 9-bits of the first three double-bytes of the SHA3 of each value.

While logsBloom is not derivable from each of the txLogsBloom, it is verifiable by | ing each of its two halves and comparing

[2014-10-26 16:44] nicksavers opened #161 "Reversion of 0-hashes, empty-list hashes and sha3('') -> ''"
Since implementations should transparently compress all data stored and the plan is to introduce a compression scheme for the p2p wire protocol, it no longer makes sense to explicitly alter the base protocol for this space-optimisation strategy.

Where ever, until now, the protocol specified a substitution if the fixed-size hash full of zeroes for the empty string, this is now reversed - such hash

[2014-10-26 22:44] biafra23 opened #162 "Blocks not found in Repository if the were not part of the initial download"
I use Repository.getBlock(int) to find blocks. This works fine for the blocks that were downloaded during the initial download.

While connected (Ethereum.connect() is running in a separate Thread) new blocks are received and logged. But getBlock() won't find them.

I have some example code here to demonstrate this: https://github.com/biafra23/ethercli/
You can run it via:
mvn clean package exec:j

[2014-10-31 23:16] nicksavers opened #163 "Illegal to jump into pushdata"
This requires pre-processing all valid JUMPDESTs

[2014-10-31 23:17] nicksavers opened #164 "JUMP reform"
(i) Cannot jump onto a jump
(ii) If a jump is preceded by a push, no jumpdest required;
(iii) jump must be directly onto JUMPDEST
(iv) no destinations into the middle of PUSH

[2014-10-31 23:18] nicksavers opened #165 "Reorganise the opcode set"
[code]

[2014-11-17 18:25] #151 closed, assigned to nobody

[2014-11-17 21:27] #162 closed, assigned to nobody

[2014-11-17 21:28] #161 closed, assigned to nicksavers

[2014-12-07 18:28] romanman opened #172 "rlp code area"
turn:
http://www.ethergit.com/raw-transaction/9d8c4ca247980d7df230e2bb045abbcf4905ef5bfe13753d53d793f3ac4bda74

into:
http://imgur.com/LLKOA2g

the RLP encode rules can be found here:
https://github.com/ethereum/wiki/wiki/RLP

important points
1. The are should be limited to 64 chars,
after it the line is wrapped
2. when pressed rlp button , the characters that
represent list encoding will get one

[2014-12-07 18:35] romanman opened #173 "database + state snapshots"
When chain is being loaded, the transaction are executed
and the state been updated - that is the general process
of syncing state of a new peer with the net, however the
state can be broken and the process will be revoked, or
should be invoked again.

To save time that take to pre-load the chain from the beggining,
I want to be able to save snapshots from the chain as it been
loaded for example e

[2014-12-12 18:10] #124 closed, assigned to nobody

[2014-12-12 18:11] #164 closed, assigned to nobody

[2014-12-12 18:11] #165 closed, assigned to nicksavers

[2014-12-12 18:12] #152 closed, assigned to nobody

[2014-12-12 18:12] #159 closed, assigned to nobody

[2014-12-12 18:12] #153 closed, assigned to nicksavers

[2014-12-12 18:13] #91 closed, assigned to nobody

[2014-12-12 18:15] #154 closed, assigned to nicksavers

[2014-12-12 18:16] #160 closed, assigned to nobody

[2014-12-14 09:43] romanman opened #175 "eth:49 addaption - 1"
1. Variable contract creation gascost
When a contract creation message returns data D with length len(D) and gas remaining G, do the following in between the return and contract creation

if G >= len(D) * 5:
G -= len(D) * 5 else:
D = ""

ie. if there's not enough gas, create a contract with empty code instead

Note: recommendation for HLLs to do create = (with x (create ...) (if (extcodesize (x))

[2014-12-20 10:26] romanman opened #176 "CALLCOPY , EXTCODECOPY, CALLDATACOPY revision"
https://github.com/ethereum/cpp-ethereum/blob/develop/libevm/VM.h#L542

[2014-12-23 17:57] #176 closed, assigned to nobody

[2014-12-28 21:04] romanman opened #180 "problem to build core alone"
@cbeams

[code]

[2014-12-28 21:29] #180 closed, assigned to nobody

[2014-12-29 17:31] cbeams opened #184 "Reconsider JDK 8 source compatibility and API usage"
I just had the following conversation with @biafra23 and @ligi regarding the JDK8 upgrades committed in #179: https://gist.github.com/39082f7a19b2a30e0a66.

In a nutshell, some of the changes made rely on JDK 8 APIs, e.g. `Collection#stream`, `Iterable#forEach` and friends, and [retrolambda doesn't backport JDK 8 APIs](https://github.com/orfjackal/retrolambda#known-limitations)—just lambda express

[2014-12-29 17:34] #184 closed, assigned to romanman

[2014-12-30 20:44] cbeams opened #185 "antlr4 annotation processor issues "Supported source version 'RELEASE_6'" warning"
The following warning can be seen in the ethereum-core build:

    warning: Supported source version 'RELEASE_6' from annotation processor 'org.antlr.v4.runtime.misc.NullUsageProcessor'

The reasons for this warning are explained in antlr/antlr4#487, and the warning is eliminated by antlr/antlr4#715. The latter is scheduled for antlr 4.4.1, which as of this writing has not yet been released.

[2015-01-05 14:59] FenilShah opened #190 "Studio peers list not working"
Hi,

I am getting below error when trying to get peers list in studio

20:25:17 [Intro]
20:25:17 [Intro]  |?|  EthereumJ [v0.7.9]
20:25:17 [Intro]  |?|  Code by Roman Mandeleil, (c) 2014.
20:25:17 [Intro]  |?|  Contribution: Nick Savers
20:25:17 [Intro]  |?|  Based on a design by Vitalik Buterin.
20:25:17 [Intro]
20:25:17 [Intro]  java.version: 1.8.0_20
20:25:17 [Intro]  java.home:    C:\Program F

[2015-01-06 08:12] #172 closed

[2015-01-06 08:13] romanman opened #191 "json api #12"
test issue to test sprint.ly

[2015-01-06 08:14] romanman commented on #191
#12

[2015-01-06 08:16] #191 closed

[2015-01-06 09:37] #157 closed

[2015-01-06 09:39] #155 closed

[2015-01-06 09:39] #156 closed

[2015-01-06 09:40] #158 closed

[2015-01-06 09:40] #99 closed

[2015-01-06 09:41] #105 closed

[2015-01-06 09:42] romanman opened #192 "- PREVHASH -> BLOCKHASH(n)."
BLOCKHASH op - can return one of the recent block hashes on the chain .

![YP:](http://i.imgur.com/foVCNzm.png)

http://tinyurl.com/n9d35kt

[2015-01-06 09:54] romanman opened #193 "- JUMPDESTs must be used for all JUMPs."

[2015-01-06 09:59] romanman commented on #193
todo: consider to keep track of all JUMPDEST

[2015-01-06 10:01] #175 closed

[2015-01-06 10:01] #190 closed

[2015-01-06 10:01] #163 closed

[2015-01-06 20:00] #193 closed

[2015-01-06 20:28] hems commented on #172
nice one!

[2015-01-06 20:29] romanman opened #194 "test"

[2015-01-06 20:29] romanman commented on #194
Fixes #10

[2015-01-06 20:29] #194 closed

[2015-01-08 19:31] Bitcoinzie opened #195 "NullPointer when adding new account"
Reproduce the error: run Studio application, open wallet, click add account.

Exception in thread "AWT-EventQueue-0" java.lang.NullPointerException
	at org.ethereum.core.Wallet.addNewAccount(Wallet.java:83)
	at org.ethereum.gui.WalletWindow$1.mouseClicked(WalletWindow.java:82)
	at java.awt.AWTEventMulticaster.mouseClicked(AWTEventMulticaster.java:270)
	at java.awt.Component.processMouseEvent(Compo

[2015-01-09 16:08] #192 closed

[2015-01-09 16:09] #141 closed

[2015-01-09 16:10] #142 closed

[2015-01-09 16:10] #143 closed

[2015-01-15 00:48] Bitcoinzie opened #200 "Studio Bug, Core works fine."
[code]

[2015-01-21 15:15] gubatron opened #210 "Please include instructions on how to run (README.md)"
I recently submitted a simple patch, which I could not test.
I followed the instructions on the README.md to make the project, but after that I had no clue what is the  procedure to run and test the UI.

It'd be great to have detailed instructions, if there needs to be a core started, how to start it, and then how to start the UI, or if there's a one step gradle command that starts the whole thing

[2015-01-21 15:18] romanman commented on #210
Hey @gubatron thanks for you help
we are working hard to redesign and
test the java library and once the
hard work is done we will put bright
documentation how to use it... small
amount of patience will help here ;)

[2015-01-21 15:24] gubatron commented on #210
in the meantime, can I get some help on how to run it? (I can then modify the README ;) )

./gradle something?
or run some class in IntelliJ?

[2015-01-21 15:28] romanman commented on #210
The studio is pretty much broken now ,
but if you want to use the library you
can , you just need to include it and
make a small code:

[code]

[code]

[2015-01-21 21:49] Bitcoinzie commented on #210
This is going to work out better for you for testing maybe..
[code]

[2015-01-22 00:04] Bitcoinzie commented on #210
This gets blocks and peers in the console
[code]

[2015-01-22 01:07] Bitcoinzie commented on #210
If we modify that we can pick what info we want to inspect.
First modify the code above to:
[code]
Then we're going to add a new utility class:
[code]
Just some basic stuff I threw together while playing around, but it gives you a good idea of what's goin on.

[2015-01-22 03:46] Bitcoinzie commented on #210
@gubatron your fix worked. I just tested it.
add this method to the utility class:
[code]
Then you can just add some extra print statements to see the result.

[2015-01-22 15:37] gubatron commented on #210
wohoo! :+1:

[2015-01-30 13:07] #185 closed

[2015-02-03 00:09] Bitcoinzie opened #217 "NullPointer when query new account.getBalance()."
Using the method below we add the existing accounts from the users wallet to an arraylist named acList. Then we add a new account using "wallet.addNewAccount()". Then we reload the arraylist and grab the new account testing it for a balance, which should be zero at this point.
What we get is a nullpointer. However if instead of "account.getBalance()" we use " ethereum.getRepository().getBalance(ac

[2015-02-03 10:29] romanman commented on #217
interesting what address is this ?

[2015-02-03 19:20] Bitcoinzie commented on #217
The address should be random each time, as I have the DB reset each time, but if you add this line
[code]
It will print the address.

[2015-02-03 23:40] Bitcoinzie commented on #217
To explain further the addNew() method calls "core.wallet.addNewAccount()"
[code]
Which calls "core.Account.init()" with no arguments.
in this init function the address is generated randomly.
[code]

[2015-02-07 20:18] Bitcoinzie commented on #200
[code]
need to be required for windows builds.
[code]
I just added them to my projects gradle.build. I'm using Windows 8.1 pro

[2015-02-15 21:11] srmcatee1110 opened #224 "Build is Broke"
Just did a git clone.

When I go to build ./gradlew run  It's chokes and hangs at building the core.

Here's the trace:
[buildinfo] Properties file path was not found! (Relevant only for builds running on a CI Server)
:ethereumj-core:antlr4 UP-TO-DATE
:ethereumj-core:compileJava UP-TO-DATE
:ethereumj-core:processResources UP-TO-DATE
:ethereumj-core:classes UP-TO-DATE
:ethereumj-core:run
21:05:44.8

[2015-02-15 21:51] Bitcoinzie commented on #224
@srmcatee1110 there's a version upgrade happening. Right now you're sending p2pVersion=2, which is correct because the java client is still in version 2, but to avoid the hang you can kind of spoof it:

1) open: P2pHandler.java in org.etherem.net.p2p
2)find
[code]
Replace with:
[code]

That will send the version number as 3, but wont actually be 3. "IT JUST AVOIDS THE HANG".  and allows you to get

[2015-02-16 00:44] srmcatee1110 commented on #224
I got farther.  Now the trace shows:

00:42:41.472 [blockchain]  block: num: [4440] hash: [d7952e], executed after: [171291]nano
00:42:41.472 [state]  BLOCK: STATE CONFLICT! block: 4440 worldstate 5427fdecb18630df9a308515654cd07d5e2cb1689f32345d78e005506c70e9e0 mismatch
00:42:41.472 [blockchain]  block added to the blockChain: index: [4440]
00:42:41.472 [state]  applied reward for block: [4440]

[2015-02-16 01:07] Bitcoinzie commented on #224
Yup it's out of consensus, but it wont hang, and you get blocks. So if you're working on some project outside the core that uses the core as a dependency you could just add the cores source files change that variable and at least work on the other aspects of your project... That's the problem with "spoofs" they're just that. So you won't be able to do any transactions or add any new accounts, but

[2015-02-17 11:51] srmcatee1110 commented on #224
Thanks Bitcoinzie.

When will it not be broke?  I can download then again and test.

Thanks.

[2015-03-13 16:28] #140 closed

[2015-03-13 16:28] #224 closed

[2015-07-30 06:39] #200 closed

[2015-07-30 06:40] #217 closed

[2015-07-30 06:40] #210 closed

[2015-07-30 06:40] #195 closed

[2015-07-30 06:40] #173 closed

[2015-07-30 06:40] #44 closed

[2015-07-30 06:40] #135 closed

[2015-08-06 12:43] ddworken opened #283 "Consensus Issue"
When using EthereumJ on Frontier there is a consensus issue due to the EthereumJ code base not updating [MAXIMUM_EXTRA_DATA_SIZE](https://github.com/ethereum/ethereumj/blob/3d6ec033ce7e9f6f2648224df08b2392d2bd235e/ethereumj-core/src/main/java/org/ethereum/config/Constants.java#L6) constant. This means that the EthereumJ program will accept a block with an Extra Data field that is less than 1024 by

[2015-08-06 12:44] romanman commented on #283
@ddworken ,thanks we will fix it :+1:

[2015-08-06 12:45] ddworken commented on #283
Already sent in the pull request. :)

[2015-08-06 12:47] romanman commented on #283
cool, will wait until travis build

[2015-08-06 12:48] romanman commented on #283
https://travis-ci.org/ethereum/ethereumj/builds/74399882
@ddworken : I am including it , you can take it
as SNAPSHOT build

[2015-08-06 12:49] ddworken commented on #283
Great! Thank you very much for the quick response time!

[2015-08-06 12:49] #283 closed

[2015-08-06 12:50] romanman commented on #283
@ddworken :+1:
oss.jfrog.org/oss-snapshot-local/org/ethereum/ethereumj-core/

[2015-08-09 21:18] int08h opened #286 "Block state conflict on 50295"
Using latest develop 389f5af4776997037652422819ecf4ee54e6d758 a block state conflict is logged. This is repeatable, I've set database.reset=true and attempted many times.
[code]

[2015-08-09 21:19] romanman commented on #286
@int08h : just solved that one , upgrade to the last snapshot of 1.0.0

[2015-08-09 21:20] int08h commented on #286
Wow, that was fast! Will do.

[2015-08-09 21:20] romanman commented on #286
@int08h : we found that yesterday , but thanks for double checking :+1:

[2015-08-09 21:23] int08h commented on #286
LOL, I'm behind the times. ;)

Just pulled, all is well. Thank you.

[2015-08-09 21:24] romanman commented on #286
@int08h : you are welcome , and don't worry we left some
bugs for you to find them first ;-)

[2015-08-09 21:40] romanman commented on #286
Fixed in: 389f5af4776997037652422819ecf4ee54e6d758

[2015-08-09 21:40] #286 closed

[2015-08-10 13:39] mikkazan opened #287 "EthereumJ compatibility with geth"
Hi,
I've tried to run node started in ethereumJ connecting to the other nodes with geth and it failed due to handshake failure. Is ethereumJ compatible with geth?
Thanks,
Michael

[2015-08-10 13:40] romanman commented on #287
Hey  @mikkazan , thanks for reaching out,
it working very well in our environment with
all kind of peers go/cpp/python. What versions
are you trying to connect ?

[2015-08-10 14:00] mikkazan commented on #287
Hi @romanman  we are using Geth/v1.0.0/windows/go1.4.2

[2015-08-10 14:08] romanman commented on #287
@mikkazan : and how do you specify for EthereumJ
to connect to that particular peer ?

[2015-08-10 14:25] mikkazan commented on #287
This is actually the other limitations I see in ethereumJ or at least I probably did not find documentation how to start ethereumJ with console. What I did i unjared the ethereum jar added json file generated by geth updated .conf file by adding peers addresses. The geth node sees me trying to connect but then fails due to handshake. It would be great if ethereumJ had ability to run with console o

[2015-08-10 14:50] Nashatyrev commented on #287
Hi @mikkazan,
you may try to override the ethereumj.conf defaults with your custom .conf file. Just specify it with -Dethereumj.conf.file=[file.conf]

[2015-08-10 14:52] romanman commented on #287
actually you have one great option to manage
all of the options , it's the `ethereumj.conf` file
and you can add node list of nodes you want to
try to connect additional to what peer discovery will find
e.g:
[code]

[code]

[2015-08-10 15:07] mikkazan commented on #287
OK. I understand how to pass conf file but what about handshake? Does it have to do something with difficulty? I see that numbers do not match.

[2015-08-10 15:15] romanman commented on #287
@mikkazan : let's talk details ? what numbers don't match ?

[2015-08-10 15:46] mikkazan commented on #287
the difficulty in generated_block.json which was generated by geth
"difficulty": "0x400000000",

ethereumJ was throwing exception trying to parse it so I took it from frontier.json
"difficulty": "0x0400000000",

After that  I was able to start ethereumj but could not connect to the node which is running on geth

"difficulty": "0x0400000000",

[2015-08-10 15:48] romanman commented on #287
@mikkazan : here is the file we specify for the frontier network

https://github.com/ethereum/ethereumj/blob/develop/ethereumj-core/src/main/resources/genesis/olympic.json

[2015-08-10 16:25] mikkazan commented on #287
yeah that is what I have in the .conf file. Otherwise ethereumj won't start. Let me play with it a little more and get back to you.

[2015-08-10 16:38] romanman commented on #287
@mikkazan : sure :+1:

[2015-08-10 19:36] mikkazan commented on #287
OK, found the issue. Apparently the difficulty generated by geth client had X instead of x. Java is pretty strict about it. Once I changed it to proper I was able to connect to geth clieant

[2015-08-10 19:36] romanman commented on #287
what do you mean X instead of x (curious) ?

[2015-08-10 19:37] romanman commented on #287
@mkalinin : just adding you

[2015-08-10 19:38] ligi commented on #287
I think he means that only lower case x is accepted - not a capitalized one

[2015-08-10 19:40] romanman commented on #287
ohh like in the hex type number ?

[2015-08-10 19:46] ligi commented on #287
yea - a 0x0400000000 is accepted - a 0X0400000000 is not - a toLowerCase on the string should solve the problem

[2015-08-10 19:47] romanman commented on #287
@ligi @mikkazan : cool got you now, ok guess not a big deal :)

[2015-08-10 19:47] #287 closed

[2015-08-14 13:42] mikkazan opened #291 "Question about Miner"
Hi EthereumJ team,
I am trying to figure out if there is any way to start mining in ethereumj thee same way it works in geth. In geth you just execute miner.start(number_of_threads) and miner.stop(). I found Miner.java in the repo but there is no unit test nor documentation how to use it. I see mine(Block newBlock, byte[] difficulty) method but it is not the same as miner.start in geth and not qui

[2015-08-14 13:46] romanman commented on #291
@mikkazan : hey body, I am sorry but we didn't implemented the miner
yet , it's really  not a big priority for us , but if you want to work it
out we will find the way to reward you.

[2015-08-14 13:46] mikkazan opened #292 "NullPointerException in TrieImpl"
Periodically I see NullPointerException in the log for TrieImpl line 225
This line
if (currentNode.length() == PAIR_SIZE)

It happens when my node tries to sync up blocks from the other  node in our private network, which  running in geth.
Not sure if it'll break the logic but shouldn't be check for null as well in that if clause?

[2015-08-14 13:58] mikkazan commented on #291
@romanman I would love to participate in it, but not at the moment. We have very tight deadline in blockchain implementation so currently we have go and c++ versions running in the full speed. We also wanted to have node running in java but due to this limitation we probably drop it for now. I see that other developer is working on miner so please let me know if you'll still want me to contribute

[2015-08-15 15:02] romanman commented on #291
@mikkazan : sure thing :+1:

[2015-08-15 15:02] #291 closed

[2015-08-31 18:47] romanman commented on #292
fixed that

[2015-08-31 18:47] #292 closed

[2015-09-17 17:53] mikkazan opened #307 "java.lang.Error: Unknown RLPx message"
Hi Ethereum people,
Had to work on something else and now back to ethereumJ :)
I have 2 ethereumJ instances running on 2 different machines. I wrote code to connect them with each other, but after I execute this line

[code]

In serverId I am passing NodeId which I got from the log file,

Immediately I see the exception on the machine I'm trying to connect to -
2015-09-15 12:17:01.968 ERROR 11316

[2015-09-17 18:49] romanman commented on #307
@mikkazan : thanks we will check it,
what version of ethereumj are you using ?

[2015-09-17 19:01] mikkazan commented on #307
this one https://oss.jfrog.org/webapp/#/artifacts/browse/tree/General/repo/org/ethereum/ethereumj-core/1.0.0-RC1

[2015-09-17 19:10] Nashatyrev commented on #307
@mikkazan
Can you try the latest `develop` snapshot plz: https://oss.jfrog.org/webapp/#/artifacts/browse/tree/General/repo/org/ethereum/ethereumj-core/1.0.0-SNAPSHOT

[2015-09-17 19:21] mikkazan commented on #307
Not a trivial task in my company:). I will try to get that version.

[2015-09-17 19:25] romanman commented on #307
@mikkazan : why not trivial?
curious.?

[2015-09-17 19:48] mikkazan commented on #307
Much better. Errors are gone. I can connect and see peers. I am not sure if this is this issue or no
but on both servers I see nodeId as this. Is it mandatory to have privateKey in .conf file and If i want nodeIds on the different servers to be unique should I generate private key for each server myself?

Machine1
dead745c1dbcde518b48e52aca1e8d5ba666005a2c8804e39826c6080fb11c1e8abe41d1e41896e871f2

[2015-09-17 19:57] mikkazan commented on #307
@romanman All external maven repos are banned in our company. Managed to get zip ripped off jar out of there and then installed it to my local repo :)

[2015-09-17 20:00] romanman commented on #307
@mikkazan , got you so just pull the latest version out of SNAPSHOT folder

[2015-09-17 20:03] mikkazan commented on #307
@romanman
What about my last question regarding same nodeId on both machines?

[2015-09-17 20:06] romanman commented on #307
@mikkazan so node id is basically, the public key for the private key you specify, and private key is just arbitrary set of bytes, so pick any you want

[2015-09-17 20:28] mikkazan commented on #307
Understood, thanks. Would be much better if you did the same way like it's done in geth. In geth client we do not specify any private key at all and nodeid is different on all machines which are running in the network.

[2015-09-17 20:39] romanman commented on #307
@mikkazan : yeah they do it random generated,
so we decided to make it more controlled
maybe we should make it random if not specified

[2015-09-17 21:20] Nashatyrev commented on #307
@mikkazan You may just run the following code:
[code]
In case you don't care, I've generated a couple for you :)
[code]

[2015-09-18 09:36] #307 closed

[2015-09-22 02:55] skydogch opened #309 "./gradle build, test errors"
There are 3 tests failed when "./gradle build" is executed after performing the "git clone https://github.com/ethereum/ethereumj"

https://gist.github.com/skydogch/6976d2d1b21823334f5d

fallbackTest error:
https://gist.github.com/skydogch/61fa9ac656cbc8aac354

testGenesisFromRLP and testGenesisPremineData error:
https://gist.github.com/skydogch/65a883723304ed975f15

If I execute the following 5 st

[2015-09-23 14:58] mikkazan opened #310 "NullPOinterException in Channel.getPeerId"
Hi EtheruemJ team,
Started ethereumJ on 3 server cluster. Connected each other and now periodically on one server I see this exception

java.lang.NullPointerException: null
	at org.ethereum.net.server.Channel.getPeerId(Channel.java:221)
	at org.ethereum.net.eth.sync.PeersPool.onDisconnect(PeersPool.java:121)
	at org.ethereum.net.eth.sync.SyncManager.onDisconnect(SyncManager.java:185)
	at org.ether

[2015-09-23 15:28] mikkazan opened #311 "Strange behavior on peers"
Hi EthereumJ team,
I have 3 servers running and connected. All servers have port 30303, but when I check peers on each server I see strange info. On some servers I see duplicated remote server peer with port 9. To get Peers info I use Ethereum().getPeers().

On my localhost (duplicated server1 and server2 with different peerId with port 9) - Windows

[{"address":"server2","port":30303,"peerId":"4a

[2015-09-23 15:31] romanman commented on #311
@Nashatyrev : I think I remember that 9 as a mock port in discovery part

[2015-09-23 15:32] Nashatyrev commented on #311
Yep, that's how our discovery works. You may just ignore the peers with such port number.

[2015-09-23 15:34] romanman commented on #311
anton, yeah but I think the api should return the connected peers not discovery peers, that is what @mikkazan expect to see

[2015-09-23 15:46] mikkazan commented on #311
If it is not the issue then I guess I'm OK with it :). Just mention it somewhere in the docs so people won't get confused.

[2015-09-23 15:47] Nashatyrev commented on #311
Hm, `Ethereum().getPeers()` refers to `org.ethereum.net.peerdiscovery` which is deprecated. The peers are added there from p2p `PEERS_MESSAGE`. I think we need to revise this part

[2015-09-23 16:02] mkalinin commented on #310
@mikkazan we have already fixed that. The fix will appear in develop branch soon ;)

[2015-09-23 16:07] mikkazan commented on #310
Okey dokey :)

[2015-09-24 13:31] mikkazan commented on #311
Hi guys,
I did not want to open a new ticket. Honestly, I'm not sure the question I want to ask is the issue. Here we go - We have .sol file created and submitted to geth. Since I'm working on ethereumJ I need to do the same. Do I have to compile it using solidity compilers and then what?
 I've tried to find how to deploy contract in ethereumJ but cannot find any docs how to do it. Is there any wa

[2015-09-25 14:13] mikkazan commented on #311
Anyone? Guys? Can you answer my previous question?

[2015-09-25 14:46] Nashatyrev commented on #311
@mikkazan Yes you definitely have to compile the contract with `solc`, since we have no Solidity compiler. Deploying the binary is the same as submitting any transaction to the network, the `address` needs to be empty and the `data` should contain the contract binary

[2015-09-28 19:36] mikkazan opened #312 "Contract submission fails"
Hi EthereumJ team,
hope you missed me :)

I am trying to send new contract to ethereumj and got exception back

Here is my code
[code]

I generated user privateKey using Hex.toHexString(new ECKey().decompress().getPrivKeyBytes()); and added it to .conf file. Genesis file has nonce and gasLimit and was loaded according to the log

2015-09-28 14:57:06.704  INFO 5724 --- [pool-1-thread-1] general

[2015-09-28 19:49] romanman commented on #312
@mikkazan : need more info,
are you on version = latest snapshot now ?

[2015-09-28 19:52] mikkazan commented on #312
the snapshot is ethereumj-core-1.0.0-20150916.144407-76. I checked repo last week. Only jar with -stage was newer than mine.

[2015-09-28 19:56] romanman commented on #312
@mikkazan  will check that ,
really thank you for your patience

[2015-09-28 19:56] romanman commented on #312
@mkalinin : can you please see if you recreate this in your current env ?

[2015-09-28 20:22] mkalinin commented on #312
@mikkazan do you use custom Genesis file?

[2015-09-28 20:27] mikkazan commented on #312
yes. We generated genesis file using geth and I am re-using it

[2015-09-28 20:40] mkalinin commented on #312
I just tried a small test. Loaded our `frontier` Genesis and called `repository.getNonce(random_address)`. It returned `0` as expected.
Could you please share your Genesis and your `userKey` with me?

[2015-09-28 20:40] romanman commented on #312
@mikkazan @mkalinin : I think the genesis is the key ,
@mikkazan , how exactly you call your genesis , and how
you execute it ?

[2015-09-28 20:50] mikkazan commented on #312
I added new file to .conf file
genesis = genesis_block.json
It is also part of the ethereum jar. I unarchived it, added the file to the genesis directory and archived it back.
Ethereum loads it fine.

Here is the file

{
    "nonce": "0xdeadbeefdeadbeef",
    "timestamp": "0x00",
    "parentHash": "0x0000000000000000000000000000000000000000000000000000000000000000",
    "extraData": "0x686f727365"

[2015-09-28 20:54] mkalinin commented on #312
I've got same exception as you with this Genesis. Let us check what's wrong

[2015-09-28 21:05] mikkazan commented on #312
Okie dokie

[2015-09-28 22:06] romanman commented on #312
@mikkazan @mkalinin ::: I think that the genesis is not loaded that way ,
to load it you need
 1. to place it in resources/genesis
 2. to name it frontier-custom (or something that contains frontier keyword)
     that is how we identify the frontier consensys algorithm
 3. you obviously need to specify the in the conf file.

-- sorry guys it all should be documented, and will be one day :+1:

[2015-09-28 22:34] mikkazan commented on #312
@romanman I don't think you're right. I spent some time dealing with custom genesis file. The genesis loader is actually looking for the property I mentioned above and hard coded directory in the jar is genesis.

[2015-09-28 22:44] romanman commented on #312
@mikkazan : yep we can debate that,
or try it my way , cause I am the one
who actually typed down that code,
maybe will be logical , at least to try it. :8ball:

[2015-09-29 06:01] mkalinin commented on #312
@mikkazan this behavior caused by empty `alloc` attribute, we'll fix that bug. You may add a line with zero balance to the `alloc` as a workaround for a while

[2015-09-29 06:29] romanman commented on #312
@mkalinin : looks like a bug , we
should not crush on empty trie,

@mikkazan : anyway , can you please
1. add some element to the trie,
2. to put the genesis , on the app level
and not injected.

[2015-09-29 13:27] mikkazan commented on #312
@romanman
1. I will add some element in trie.
2. The thing is according to line 35 in GenesisLoader - https://github.com/ethereum/ethereumj/blob/develop/ethereumj-core/src/main/java/org/ethereum/core/genesis/GenesisLoader.java
 putting custom genesis file into the app level will not work.
InputStream is = ClassLoader.getSystemResourceAsStream("genesis/" + genesisFile);
 It looks for the file under

[2015-09-29 13:48] mikkazan commented on #312
@romanman @mkalinin
After adding some values into alloc in genesis file the exception is gone.

[2015-09-29 13:49] romanman commented on #312
@mikkazan : thanks , for the second issue, we are
running the genesis on the application
level in our test network (different genesis)
by adding it to: `/resources/genesis/frontier-test.json`

[2015-09-29 14:08] mikkazan commented on #312
Looks like it was misunderstanding. My genesis file is also under /resources/genesis/. When you said put genesis into app level I thought that you mean put my_genesis.json directly  into app level.

[2015-09-29 16:15] romanman commented on #312
@mikkazan : cool , I was kind of sure that you re-zip
it to the ethereumj lib, if that is not the case ,
all good :+1:

[2015-09-29 17:25] mikkazan opened #314 "Connection refused"
Hi guys,
periodically I see ConectionException on the server to which one of the node connected to.

java.net.ConnectException: Connection refused: /my_local_ip:52062
        at sun.nio.ch.SocketChannelImpl.checkConnect(Native Method)
        at sun.nio.ch.SocketChannelImpl.finishConnect(SocketChannelImpl.java:717)
        at io.netty.channel.socket.nio.NioSocketChannel.doFinishConnect(NioSocketCh

[2015-09-29 17:34] mikkazan commented on #314
last question regarding contract submission. How can I retrieve contract info. I cannot find any docs about it.

[2015-09-29 18:20] #309 closed

[2015-09-29 18:20] #311 closed

[2015-09-29 18:21] romanman commented on #312
@mikkazan : we fixed that will also for empy trie,
you will see it soon in the new snapshoot version

[2015-09-29 18:21] #312 closed

[2015-09-29 19:20] mkalinin commented on #314
hey @mikkazan
`my_local_ip:52062` - does this mean that you're connected to some local peer?

[2015-09-29 19:26] mikkazan commented on #314
Yeah, I have 2 remote Linux servers running ethereumj and third one is my local host

[2015-09-29 19:28] mkalinin commented on #314
ok, thanks. will investigate in it

[2015-09-30 11:18] mkalinin commented on #314
Usually this error occurs during connection establishing. Is it your case? If not could you please share more logs and provide more details about this error occurring?

[2015-09-30 13:42] mikkazan commented on #314
Unfortunately I did not save the logs. Did not set up process to print into the log file. It happens after connection established. Looks like port periodically becomes busy may be because of constant blocks exchange.

[2015-09-30 13:46] mikkazan commented on #314
Looks like I am being pulled off from java implementation back to go. I will let you know once I'll be back :).

[2015-10-07 05:02] skydogch opened #315 "Genesis block configuration is corrupted"
Hi guys,

I have added my custom genesis into the configuration file but I get an error:

"Genesis block configuration is corrupted or not found ./resources/genesis/..."

The genesis file works fine with geth

{
    "nonce": "0x0000000000000042",
    "difficulty": "0x4",
    "alloc": {
        "a354a8bee6b828b88ce9dab0b2ca45c7b51508d3": {
            "balance": "5000000000000000000000000"

[2015-10-07 08:56] mkalinin commented on #315
hi @skydogch
There are two points you should notice when start using your custom Genesis file

1) There is a `genesis` property in `ethereumj.conf` file which should contain path to your Genesis related to `resources/genesis`
2) The name of the file should contain `frontier` word, this allows `ethereumj` to understand which environment is used and impacts on constants and other env related stuff

[2015-10-12 16:10] skydogch commented on #315
Hi @mkalinin ,
thanks a lot for the information, it works!

[2015-10-12 16:10] #315 closed

[2015-10-13 12:24] kushti opened #316 "Occasional NullPointerException in getPendingTransactions"
While running in a cycle, getPendingTransactions returns NullPointerException sometimes:

code example in Scala:

val eth = EthereumFactory.createEthereum()
eth.init()

actorSystem.scheduler.schedule(2.seconds, 1.seconds) {
     Try(eth.getPendingTransactions.filter(_.getData.length == 50)) match {
        case Success(txs) => println("50-bytes data field found")
        case Failure(e) => println

[2015-10-13 13:25] kushti opened #317 "Blockchain rollback interface to resolve stuck when it happens"
Got an error message

16:14:23.463 [state]  BLOCK: STATE CONFLICT! block: 377454 worldstate b4c9cb9d619330535fb6783a2ffe8eb725e189ed38bfb31aa4d4183d2537709e mismatch
CONFLICT: BLOCK #377454

Probably some method to throw away some number of last blocks  and then try to redownload them & reapply would be helpful. Otherwise a node could stuck for an arbitrary time.

[2015-10-13 14:13] romanman commented on #317
@kushti : if you restart the system ,
are you getting it over and over again ?

[2015-10-13 14:14] romanman commented on #316
@kushti : are you running the latest snapshot ?

[2015-10-13 14:35] kushti commented on #316
@romanman yes, it was built from the source code yesterday

[2015-10-13 14:35] kushti commented on #317
@romanman yes, relaunching won't help with that

[2015-10-13 14:36] romanman commented on #316
@kushti : ok , the pending transaction is still in
testing stage , so maybe there is a bug there
we will check it over

[2015-10-13 14:37] romanman commented on #317
@kushti : so in that case removing  the db
and running from the start is the only way for
you now

[2015-10-13 14:45] kushti commented on #317
I see, but why not to have some rollback(int numberOfBlocks) method to provide repair possibility? I guess such a functionality is needed for the core as well for handling reorgs.

[2015-10-13 14:46] romanman commented on #317
Yes , but I guess some rare bug cause the conflict to
be saved to the database , so it's a corrupted state
and you don't know how it will behave , so prefer to do
a re-sync

[2015-10-13 14:49] kushti commented on #317
Got that. Redownloading chain is slow process though, so what about state rebuilding from blocks in the db up to some height? eg. with eth.initWithRepair(int height) instead of ordinary init()

[2015-10-13 17:00] FranciscoE-Reuters opened #318 "Split project into library and application"
Given that the library may be used in non-EE systems, it should be possible to do away with J2EE frameworks, and split it into a framework and a base program.

The starting point would be to do away with Spring, Hibernate, and consider how to bring huge helper collections like Apache Commons or Netty in smaller chunks.

[2015-10-13 18:42] romanman commented on #318
Hey Francisco,

We trying to build the library in a very modular
way , so it can be used in any type of java/scalla project.

I suggest that you will tell us more about
special requirements and we will try to
find the best solution for you.

[2015-10-13 18:59] FranciscoE-Reuters commented on #318
It's not very special requirement, but the while the whole project has been written modularly, the whole component is coupled with those monolithic dependencies.

The objective would be to build a library that can be used from Java 9 REPL, or linked on a JavaFX or Android project, to do lightweight tasks like wallet management.

The project would need to have at least those functionalities separat

[2015-10-13 19:04] romanman commented on #318
I see well it's one option of building the core architecture , it's a bit complex but can be done.

[2015-10-13 23:38] FranciscoE-Reuters commented on #318
It's way less complex than fitting Hibernate on Dalvik, trust me :D

This proposal is only interesting if the objective of ethereumj is creating a toolset revolving etherium on the JVM, rather than just a program.

[2015-10-14 13:11] romanman commented on #318
@FranciscoE-Reuters : that reminds me that we can
get rid of Hibernate on that level already :+1:
@Nashatyrev (can you please add it to the todo
: hibernate and all light dbs are not needed in the package anymore)

[2015-10-14 20:43] skydogch opened #319 "Exception in the NodeManagerListenerHandler by enabling the peer discovery"
Hi guys,

I am using the latest snapshot and I am connecting ethereumj to my local geth peer.

I have noticed that when I disable the peer discovery in the configuration, then the connection to my local peer works fine, but when I turn the discovery on, then I get an exception in the NodeManagerListenerHandler

**"Exception processing listener: org.ethereum.net.rlpx.discover.NodeManager$ListenerHa

[2015-10-14 21:19] Nashatyrev commented on #319
@mkalinin Looks like yours:
at org.ethereum.util.BIUtil.isIn20PercentRange(BIUtil.java:113) ~[ethereumj-core-1.0.0-SNAPSHOT.jar:na]
at org.ethereum.net.eth.sync.SyncManager$3.test(SyncManager.java:395) ~[ethereumj-core-1.0.0-SNAPSHOT.jar:na]
at org.ethereum.net.eth.sync.SyncManager$3.test(SyncManager.java:389) ~[ethereumj-core-1.0.0-SNAPSHOT.jar:na]
at org.ethereum.net.rlpx.discover.NodeManager$Li

[2015-10-14 21:24] Nashatyrev commented on #319
Another strange thing:
22:33:55.670 WARN general - Can't get bind IP. Fall back to 0.0.0.0: java.net.UnknownHostException: www.google.com
While checkip.amazonaws.com was resolved.

[2015-10-14 21:26] Nashatyrev commented on #319
You may want to try to explicitly set the bind IP in the config: `peer.bind.ip`
Set it to the outbound network interface IP.

[2015-10-15 05:34] mkalinin commented on #319
@skydogch Division by zero is fixed now. Please, check it and close the issue if everything is well.

[2015-10-15 19:18] skydogch commented on #319
Hi guys, perfect! It works! :+1:

[2015-10-15 19:18] #319 closed

[2015-10-16 13:46] kushti opened #320 "Add Morden data, fix genesis.json reading failure"
1. Add Morden's genesis.json to resources.
2. EthereumJ failed to read genesis.json for Morden, because of an error while parsing "0x20000" value for difficulty

[2015-10-16 14:04] romanman commented on #320
yeah I guess 0x020000 works well, right?

[2015-10-16 14:24] kushti commented on #320
yes

[2015-10-22 10:01] skydogch opened #321 "geth peer error: faild enc handshake: could not decrypt auth message (ecies: invalid message)"
Hi guys,

I am connecting to a local go peer.
During the connection, I don't see any error in the ethereumj protocol, but I am getting a geth-error: **"faild enc handshake: could not decrypt auth message (ecies: invalid message)"**.

I don't know if the issue is really in geth or ethereumj

**Ethereumj protocol (no error):**
https://gist.github.com/skydogch/a298848efecb149c5ede

**Geth protocol (h

[2015-10-25 23:08] skydogch commented on #321
It is a go-ethereum issue

[2015-10-25 23:08] #321 closed

[2015-10-26 05:39] romanman commented on #321
@skydogch, isbit the newest version of go ethereum? hope they didn't break something.

[2015-10-28 17:07] SergioDemianLerner opened #322 "Consensus incompatibility between geth and ethereumj trie"
Testing Ethereumj I came across a consensus problem: ethereumj trie root hash is different from geth trie root hash after two update (insert) operations. I created test vectors to show the difference. I suppose it is a problem in Ethereumj (a third implementation such as eth would be needed to break the ties on which is incorrect).
Starting from an empty secure-trie, two (key,value) pairs are adde

[2015-11-03 11:20] Nashatyrev commented on #322
You had a typo in your testcase:
`        key =  common.FromHex("0x62a496c75751c67e600f5d04e763b85d4069af8")`
should be
`        key =  common.FromHex("0x62a496c75751c67e600f5d04e763b85d4069af8e")`

Works fine with the fixed version.

[2015-11-03 11:20] #322 closed

[2015-11-03 18:13] SergioDemianLerner commented on #322
I'm very sorry about providing you bad test vectors.
However the consensus problem existed as the bug appeared in a real intranet geth-ethereumj.
I will try to find the original test vectors that gave the the consensus problem.

[2015-11-03 18:18] Nashatyrev commented on #322
What branch do you use?

[2015-11-07 14:53] btiernay commented on #318
I think it might also be a good idea to consolidate dependencies in general. For example, for JSON support I see 2 versions of Jackson being used (codehaus and fasterxml), and json.org. This also makes the application much heavier for constrained environments.

[2015-11-07 14:57] btiernay commented on #318
Might I also suggest some greater static modularity:

- `ethereumj-client`
- `ethereumj-core`
- `ethereumj-net`
- `ethereumj-crypto`
- etc.

This will allow the project to better track and understand dependencies and help enforce internal modular boundaries.

[2015-11-07 16:46] romanman commented on #318
@btiernay : nice structure, we need to see
if it will be useful for the projects.

[2015-11-07 16:46] #318 closed

[2015-11-12 09:13] skydogch opened #324 "BLOCK STATE CONFLICT in different block numbers after calling callConstantFunction"
Hi guys,

I am calling callConstantFunction in order to get the return value of the function getBalance / getAccountName of my [contract](https://gist.github.com/skydogch/0aa2c96ae5d4dbfcde0d#file-accounttestcontract-sol-L22-L27):

[code]

The issue is that after executing callConstantFunction, I get a block state conflict and the java process ends. The conflict is produced always in a different b

[2015-11-15 14:09] skydogch commented on #324
Hi, I have updated the issue description above with an example to a constant function call

[2015-11-15 14:24] romanman commented on #324
sure we have a known bug in
a constant function call so you
can hold a bit untill we will fix it

[2015-11-15 15:26] skydogch commented on #324
Hi @romanman , thanks for the reply. I was not sure if it is a bug or I was missing anything. Please let me know if I can support you in someway.

[2015-11-19 21:20] skydogch commented on #324
Hi @Nashatyrev , thanks a lot, it works!

[2015-11-19 21:20] #324 closed

[2015-11-24 09:21] Nashatyrev commented on #324
@skydogch BTW, we've recently implemented dynamic return types and multiple returns decoding in CallTransaction.Function, you may give it a try if you need that funcs

[2015-11-24 14:16] skydogch commented on #324
Hi @Nashatyrev, thanks a lot!

I will test first the submit transaction, it was not working last week. After it I will test the new return functionality :+1:

[2015-11-29 07:59] skydogch opened #327 "repository.getNonce - BLOCK: STATE CONFLICT!"
Hi guys,

I am getting a [block state](https://gist.github.com/skydogch/30d58f00b61f68b9ee69#file-block_conflict-L2662) conflict after executing [repository.getNonce](https://gist.github.com/skydogch/af29b9e9aae2662f529d#file-accountwritetest001-java-L45).

Please let me know if you need more information about this test case

[code]

[2015-11-29 14:26] adrian-tiberius opened #329 "NullPointerException in eth BlocksMessage"
Got this exception with stage branch when running "./graddlew run". It doesn't seem to affect block importing. From what I could find, the BlocksMessage instance can contain null block items in the blocks list which is not taken into account when encoding them(line 47).

[2015-11-29 20:27] skydogch opened #330 "Transaction not propagated to geth peer"
Hi guys,

the **submitTransaction** is executed in ethereumj without propagating the changes to a geth peer. *Am I doing anything wrong or is it an issue?*

The test case is done using two nodes: one geth and another ethereumj
- The transactions performed in the geth peer are propagated to ethereumj => OK
- The transactions performed in ethereumj are not propagated to geth => **ISSUE**

Here are t

[2015-11-30 16:03] Nashatyrev commented on #330
Hi @skydogch
your test looks fine from the first glance. We have the similar sample which works pretty stable with Frontier: https://github.com/ether-camp/feed.reporter.ether.camp/blob/master/src/main/java/com/ethercamp/feedreporter/scheduler/Scheduler.java#L122
One suspect might be calling two transactions at once. Can you try testing with only a single transaction?

[2015-11-30 16:20] Nashatyrev commented on #327
Can you please give us more details on why do you suppose this is `getNonce` problem?

[2015-11-30 17:11] skydogch commented on #327
Hi @Nashatyrev ,

I have tested two scenarios:

Scenario 1:
I use intellij and I stop the execution in the *getNonce* command with the debugger. In the mean time, the logs concerning the connection with the geth peer appear in the console (everything fine till here). When I execute getNonce, then the *block conflict* message appears in the console.

Scenario 2:
I run the application without breakp

[2015-11-30 20:08] Nashatyrev commented on #329
Yep, this is our bug, thanks for reporting!

[2015-12-01 14:40] skydogch commented on #330
Hi @Nashatyrev,

it is still not working.

I have created a new private testnet where I have deployed the same contract. In the [geth log](https://gist.github.com/skydogch/76cd45b6027a898ba57d#file-geth_max_verbosity-L125-L140), I can't see any transaction coming from ethereumj. (Note: Both peers are running in the same machine)

I have executed the [setBalance and setAccountName](https://gist.git

[2015-12-01 14:52] skydogch commented on #327
Scenario 3:
If I don't use the getNonce, no block conflict is produced. I know that it is weird, but that are the results I am getting.

[2015-12-02 12:21] Nashatyrev commented on #330
It's ok with `hash` - it should be calculated upon serialization a bit later after the log output.
That could be some networking issue

[2015-12-02 12:28] Nashatyrev commented on #327
"cd2a3d9f938e13cd947ec05abc7fe734df8dd826".getBytes() you need to change that to
Hex.decode("cd2a3d9f938e13cd947ec05abc7fe734df8dd826")

The getNonce() calls getAccountStateOrCreateNew() thus creating a new account => conflict.
Though this looks odd, need to think about if we should mutate the repository in such cases

[2015-12-02 13:10] #327 closed

[2015-12-03 08:34] skydogch commented on #330
Hi @Nashatyrev, you are right. The transaction was wrong and it was not processed successfully by geth.

[2015-12-03 08:34] #330 closed

[2015-12-09 15:19] #310 closed

[2015-12-09 15:30] Nashatyrev opened #333 "Sync stuck on forked NewBlock message"
Suppose the following chain is imported:
[code]
the following fork exists on the remote peer
[code]
And that peer sends us the `NewBlock` message with `#2a` block
After that sync stucks since we are trying to query for the headers by number starting from `#0` but the remote peer resends us the main branch, thus we can't recover the gap since we don't get `#1a` header.

The solution is to ask for h

[2015-12-21 22:20] mtgran opened #334 "java.lang.NullPointerException at org.ethereum.sync.SyncManager.startMaster(SyncManager.java:360)"
Hello,

I am using the stage_2-snapshot and NullPointerException is generated during the start-up of the node:

--

2015-12-21 23:15:40.066  INFO 8444 --- [pool-3-thread-1] sync                                     : Peer 4c7edd98: its chain is better than previously known: 3184875921 vs 16384, rotate master peer
2015-12-21 23:15:40.068 ERROR 8444 --- [pool-3-thread-1] net

[2015-12-28 22:56] ramtej opened #335 "Creation of new account"
Hi guys,

I would like to create a ethereumj frontier account, but could not find any instructions, e.g. like for the go-ethereum - "geth account new".

Any ideas ?

Thank you.

Cheers,
jj

[2015-12-28 23:24] Nashatyrev commented on #335
The console/command line interface is now in pending state.
Using Java API the account creation is as simple as just creating a random private key and getting its corresponding Ethereum address:
[code]

[2015-12-29 09:15] ramtej commented on #335
Hi,

thank you, works for me. Just for someone else who has a similar issue and need some conversions of the key representations :

        ECKey key = new ECKey();

        byte[] addr = key.getAddress();
        byte[] priv = key.getPrivKeyBytes();

        String addrBase16 = Hex.toHexString(addr);
        String privBase16 = Hex.toHexString(priv);

        System.out.println("Address     : " +

[2015-12-29 09:15] #335 closed

[2015-12-29 17:10] mtgran commented on #320
Hello @romanman ,

I am trying to connect to morden using 0x020000 in the genesis file (https://github.com/ethereum/wiki/wiki/Morden) but ethereumj raises a INCOMPATIBLE_PROTOCOL during the connection to my geth peer (which is connected to morden).

Is it because of the different genesis hashes? Are you running Ethereumj in Morden?

Thanks in advance!
[code]

[2015-12-29 17:20] Nashatyrev commented on #320
0x020000 and 0x20000 should be equal values.
Do you have other values in genesis equal (including leading zeros)?

[2015-12-29 18:07] mtgran commented on #320
Hi @Nashatyrev ,

I copied the genesis.json from https://github.com/ethereum/wiki/wiki/Morden and I changed only the difficulty. This is the file contained in my frontier-custom-morden.json:

[code]
My geth peer is started in a standard way:
geth --testnet --verbosity 1 --port 30303 --rpc --rpcport 8400 --rpcaddr localhost --rpccorsdomain "*" --mine --unlock 0 console

0x020000 and 0x20000 are the

[2015-12-30 19:53] mtgran commented on #334
update:

I've deleted the folders under database.dir to see if this message desapears: "its chain is better than previously known: 401565312 vs 16384"

But the message still appears followed by the NullPointerException -> https://gist.github.com/mtgran/31c4ddfd1a44d052ded7#file-gistfile1-txt-L29-L37

[2015-12-30 20:05] mtgran opened #336 "database.dir value"
Hello guys,

the value database.dir (ethereum.conf) works fine if it contains a relative path, e.g. my_working_dir

If the value contains an absolute path (e.g. /home/mtgran/workspace/project/ethereumjdirs/my_working_dir) then only the directory "blocks" is created under database.dir, but not blockqueue, details, hashstore, headerstore and state

1.0.0-stage_2-SNAPSHOT / git.hash: [7dabbcd] / buil

[2016-01-11 15:26] ppratscher opened #337 "With discovery mode enabled a new node id is used for each connection"
Having the discovery mode enabled (which is the default setting) causes ethereumj to always use a new nodeid when connecting to a node. This causes problems with ethernodes.org as single nodes are counted multiple times.

I think this line is the root cause of the issue: https://github.com/ethereum/ethereumj/blob/f389f28bb816ed0a74c69c14188aa7b451ac971b/ethereumj-core/src/main/java/org/ethereum/ne

[2016-01-12 21:38] mtgran opened #338 "Error creating bean with name 'nodeManager': Injection of autowired dependencies failed"
Hi guys, I've downloaded the last stage jars (build.time: [GMT]-[08/Jan/2016]-[15:56]) and I am getting new errors concerning the dependency injections. I am using currently a quite simple gradle file for my development, but is it needed a new dependency in the gradle file or is the current stage version unstable?

https://gist.github.com/mtgran/3a87fef890a680eb4c6e#file-build-time-gmt-08-jan-2016

[2016-01-19 10:50] ygnr opened #339 "Null Pointer exception at wallet.save()"
I was trying to add a new account to wallet and save it in wallet using the following functions.

	Ethereum ether = EthereumFactory.createEthereum();
        Wallet wallet = ether.getWallet();
	wallet.addNewAccount();
	wallet.save();

I am getting a null pointer exception in the save method when the code reaches this point in Wallet.java.
value.setTextContent(account.getBalance().toString());

Exc

[2016-01-27 13:33] mtgran commented on #338
Hi guys, I am using the last stage from yesterday (26.01.2016) and it works fine. I suppose I had problems with the dependency injections on the 08/Jan because of the path configuration, but I am not sure about it. I close the issue

[2016-01-27 13:33] #338 closed

[2016-01-27 13:59] Nashatyrev commented on #338
Thanks for update!

[2016-02-01 16:02] madshell commented on #321
why is this issue closed without any comment? same problem here with default geth installation on Ubuntu 14.04 (https://install-geth.ethereum.org script)

[2016-02-01 17:51] Nashatyrev commented on #321
Most likely the issue is in incorrect `nodeId` when connecting to geth peer

[2016-02-01 19:09] skydogch commented on #321
Hello
@romanman , sorry for the late answer :-(, the problem was not in the java implementation as far as I remember
@madshell , there was a missing library in go-ethereum which was not installed by default, I don't remember which one it was, but the problem should be resolved. I reinstalled go-ethereum some weeks ago and it was working propertly. This issue is old, maybe the reason is what wrote

[2016-02-02 09:29] madshell commented on #321
I find out the issue. Indeed, it wasn't really the nodeId but the IP address not present in the enode URI. When I'm displaying "admin.nodeInfo", here is an example result:

enode://280cb677fda3d9dd1ef1751b0dfd1616dad17b813ab855aacd869832649b2c07d07d9929016d0a347e5f8a476b2f3b07e7e9e88fb8e21e047f117498897e2e1a@**[::]**:30303?discport=0

The IP is not found maybe because of a library problem or a net

[2016-02-11 16:48] #333 closed

[2016-02-16 21:21] mtgran commented on #334
This issue is outdated, it doesn't appear in the new stage version. I close the ticket

[2016-02-16 21:21] #334 closed

[2016-02-16 22:13] mtgran opened #342 "Commit afe4d5d - BadJumpDestinationException - Operation with pc isn't 'JUMPDEST': PC[2];"
Hi guys,

I've got a **BadJumpDestinationException** several times running my ethereumj node. I don't know what is the root of the issue, it simply appears in the VM log:

[https://gist.github.com/mtgran/6ac9c019bb351a795631#file-badjumpdestinationexception-L5441-L5462](url)

[code]

[2016-02-16 22:49] romanman commented on #342
Hi @mtgran : it's ok from the blockchain perspective ,
the contract is bad compiled so it violates some rule
of the VM - but that is normal cause we should be dealing
with user deploy and run badly compiled contracts.

@Nashatyrev : maybe the log should be so aggressive
for that one...

[2016-02-17 00:31] Nashatyrev commented on #342
@romanman We have a bunch of unnecessary aggressive log ERROR messages which need to be cleaned up

[2016-02-17 00:38] romanman commented on #342
Yes, that one is a good example.

Roman
On Feb 16, 2016 7:32 PM, "Anton Nashatyrev" <notifications@github.com>
wrote:

[2016-02-17 09:37] ijohanne opened #343 "Stuck on blockchain download, after second transaction from same sender"
Hi,

I seem to have stumbled over an issue when running EthereumJ on a private network of two geth/1.4.2 clients (one of them is running as a CPU miner).

After sending the second transaction from the same sender, when EthereumJ gets the newest block mined by the miner - it can't connect the block, and spews out the following errors:
505629 INFO  blockchain - Try connect block hash: b3f2cf, number

[2016-02-17 10:42] Nashatyrev commented on #343
`BigInteger.valueOf(21000L)`: looks like a starting txt nonce for Morden. Can you please share the `geth` command you are running. If you have, try to remove the `--testnet` option

[2016-02-17 10:52] Nashatyrev commented on #343
... and change the initial tx nonce to `0`

[2016-02-17 11:12] ijohanne commented on #343
For the first tx the nonce is 0, and for the second 1
The 21000 is used as gasPrice, according to the signature I found in the source for createTransaction:
[code]
The args I use for geth is
`build/bin/geth --networkid "31337" --port "30302" --datadir "/home/ij/eth-testnet" --verbosity "1" --genesis genesis.json console`

[2016-02-17 12:03] Nashatyrev commented on #343
Oh, I see, my miss.
That's strange, the similar net configuration works pretty fine for me.
It seem the only way to debug this problem is to share logs with us. Just lower the following logger levels:
[code]
That will logs processed blocks and incoming messages to pick the 'bad' header

[2016-02-17 15:08] ijohanne commented on #343
I had quite a bit of fun trying to get log4j overridden properly, so instead I checked out the master branch of ethereumj, put in my config and genesis (both attached - one of the peers is globally reachable, so you can re-run this if needed, passwords and anything else in the files are random generated just for this test, so no problems either just reusing it straight off the bat).

I managed to

[2016-02-19 00:19] MrYukonC opened #344 "BasicExample - org.iq80.leveldb.DBException - Could not create random access file"
I'm getting the following database error when running the BasicExample with 1.1.0-RELEASE:

[code]

[2016-02-19 00:23] Nashatyrev commented on #344
Yep, this is the problem of LevelDBJni 1.8 on Windows. I've build the lib using LevelDB 1.18 which has no such problems but we didn't include this to release yet (since has to be tested more). You may include it yourself by fixing `ethereum-core/build.gradle`:
[code]

We will most likely replace it in the next upcoming release, so I will close this issue.

[2016-02-19 00:23] #344 closed

[2016-02-19 00:24] Nashatyrev commented on #344
Also you will need to delete the `database` dir after the change

[2016-02-19 00:29] MrYukonC commented on #344
Hi Anton,

Sorry for the submission, I was afraid it might be something on my end.
Thank you for the help directing me how to get past it.

On Thu, Feb 18, 2016 at 6:24 PM, Anton Nashatyrev <notifications@github.com>
wrote:

[2016-02-19 16:24] mtgran opened #345 "Morden's IAN"
Hi guys,

ethereumj can't connect to Morden because Morden's IAN is 2^20

The nonces of the accounts contained in the genesis play a role in the genesis' hash. If it is not configured to 2^20 then the connection with e.g Geth doesn't work.

@bitledger has a version for morden change:

https://github.com/bitledger/ethereumj/blob/morden/ethereumj-core/src/main/java/org/ethereum/core/AccountState.jav

[2016-02-19 16:36] Nashatyrev commented on #345
Mikhail is working on this right now :)

[2016-02-19 16:46] mtgran commented on #345
Great!

Guys, you are doing an amazing job ...

[2016-02-20 04:48] mtbitcoin commented on #345
Thank you!!

[2016-02-22 21:34] mtgran opened #346 "Morden - Block state conflict at 442726"
Hi guys,

I've downloaded the last stage version and it connects to morden :+1:
but there is an issue with the block 442726 and the execution stops:

[code]

[2016-02-23 10:40] ijohanne commented on #343
@Nashatyrev - I still have one of those nodes running publicly accessible, so I was curious if you had any time to test this (or look through the logs) ?

[2016-02-23 10:54] Nashatyrev commented on #346
@mkalinin Did you have the issue on the same block?

[2016-02-23 10:55] mkalinin commented on #346
@Nashatyrev yes, the same one

[2016-02-24 10:51] ijohanne commented on #343
@Nashatyrev - I tried a few things, including using the same genesis they use for the morden network, and the error is the same with this. Could the bug I've reported be related to #345 or #346 possibly?

[2016-02-24 12:01] Nashatyrev commented on #343
Hi @ijohanne, couldn't connect to your node `enode://9c91e56acd864e39571a79028c34cd1b449cde57aa9f7245e8c78cb47fc07b9a354872e6f9d36d81f8eefc9f28ec4121ac647c1423fd7b1fa1db97978d338649@5.196.33.170:30302`
Is it still running?

[2016-02-24 12:04] Nashatyrev commented on #343
It opens connection however I got no response on `AuthInitiate` message. Can you please check your nodeId?

[2016-02-24 12:19] ijohanne commented on #343
Hi @Nashatyrev, I tried quite a few things since then - and had to use that node for that. However I've recreated the test (and verified ethereumj still spews out the same error). The enode URL is now:
enode://97345380ad9c00eba5032f31450fd77d17d50b97d642755f087fe73f5ede32786bc18922e17519ac3e0f408c45bd0487765fcfa7012d4a7fa504d5fdb3ced924@5.196.33.170:30302

[2016-02-24 12:32] Nashatyrev commented on #343
Ok, found the problem: try renaming genesis file so it contains 'frontier' string, this is the way we are currently identifying the frontier constants which are not in the genesis file. In your case this is DURATION_LIMIT.
That should be definitely fixed

[2016-02-24 14:26] ijohanne commented on #343
@Nashatyrev that was spot on, not a thing I even noticed was a requirement. It now works for me. Thanks a lot!

[2016-02-24 14:36] Nashatyrev commented on #329
Seems not reproducible anymore with the latest release

[2016-02-24 14:36] #329 closed

[2016-02-25 06:33] mkalinin commented on #346
The fix is here https://github.com/ethereum/ethereumj/pull/347

[2016-02-25 06:33] #346 closed

[2016-02-26 10:45] mtbitcoin opened #349 "Testnet Morden"
I am unable to get testnet morden running with following modifications in ethereumj.conf . I am running the lastest ethereumj-core:1.1.0-stage-SNAPSHOT

ip.list = [
        "94.242.229.4:40404",
        "94.242.229.203:30303"
    ]
genesis = frontier-morden.json

database {
    # place to save physical storage files
    dir = database-morden
}

# Network id
    networkId = 2

---
The errors loop I

[2016-02-26 11:01] Nashatyrev commented on #349
Strange...
I see you are running `starter.Application` Did you try running the pure EthereumJ app with the same Mordern settings:
[code]

[2016-02-26 11:03] mkalinin commented on #349
or you can run it with
[code]
if it's convenient to you

[2016-02-26 11:39] mtbitcoin commented on #349
@mkalinin Thanks. That seem to have worked.

[2016-02-26 11:43] mtbitcoin commented on #349
Just to add a note for those running into similar issues.. it seems after few minutes the error message went away and it was able to process the blocks.

[2016-02-26 13:50] Nashatyrev commented on #343
Fixed in branch. Now we have separate Blockchain settings not bound to genesis file name

[2016-02-26 13:50] #343 closed

[2016-02-26 15:29] mtbitcoin commented on #349
reopened

[2016-02-28 03:59] #349 closed

[2016-02-28 22:43] mtgran commented on #345
I am using the last stage version and the connection to morden works fine :+1:

[2016-02-28 22:43] #345 closed

[2016-02-28 23:21] mtgran opened #350 "Morden - First Nonce for 0xaed50e8d2637b08b2b29c70da003bfd7d5578ecb is 0"
Hi guys,

I have assigned 27 ETH to the address aed50e8d2637b08b2b29c70da003bfd7d5578ecb using this [webpage](https://zerogox.com/ethereum/wei_faucet).

Geth returns a balance of 27000000000000000000 for that address

Although I still have not performed any transaction, nonce **0** is returned from getRepository().getNonce(Hex.decode("aed50e8d2637b08b2b29c70da003bfd7d5578ecb")).
It should return M

[2016-02-29 04:12] mtbitcoin commented on #345
yes, connection works now.

[2016-02-29 04:15] mtbitcoin commented on #344
@Nashatyrev doe the other dependencies like the below need to be removed also ?

 compile "org.fusesource.leveldbjni:leveldbjni:1.8"
 compile "org.fusesource.leveldbjni:leveldbjni-all:1.8"

[2016-02-29 04:51] mkalinin commented on #350
Hi @mtgran,
I've checked your address via my peer which is in sync with Morden. And it has `1048576` nonce. Had your peer finished sync before you checked nonce?

[2016-02-29 22:21] mtgran commented on #350
Hi @mkalinin , I am synchronizing now my node, and I am doing a test with two accounts and this are the returned nonces:

0xaed50e8d2637b08b2b29c70da003bfd7d5578ecb -> 1048576
0x53ad733c96ac22846c3b843e2c674579158b786d -> 0

I suppose that if information about 0x53ad733c96ac22846c3b843e2c674579158b786d has not been synchronized in EthereumJ, then it returns 0.

Maybe because `getAccountState(addr)

[2016-02-29 22:24] mtgran opened #351 "Morden - state conflict at block 482712"
Hi guys,

I get a block conflict at 482712 in Morden:

[code]

[2016-02-29 23:26] romanman commented on #351
@mtgran we solved that one
please use latest on stage `branch`

[2016-02-29 23:26] #351 closed

[2016-03-01 03:43] mtbitcoin commented on #351
@mtgran did you manage to solve this with the latest stage branch? I've pulled the latest stage but still running into this issue

03:41:24.063 ERROR blockchain - Block's given Receipt Hash doesn't match: fb5872
376adf96b9778f3e3a0ec87d688582e2a1c7ed22743b56f782ce09b219 != d9fb0cb0a7d86d8eb3
ff90125e3a38cafb1e9f6db89e8037c876b37a3f00bf75
03:41:24.063 ERROR state - BLOCK: STATE CONFLICT! block: 482

[2016-03-01 03:45] romanman commented on #351
@mtbitcoin : can you please recheck it
switch the branch clean all the binaries
and run it again , if you will bumped into
a conflict , we obviously will check it again.

[2016-03-01 04:04] mtbitcoin commented on #351
I am not able to get past this.. Perhaps @mtgran can reconfirm  ?

[2016-03-01 14:24] mtbitcoin commented on #351
@romanman  I saw that there were some new changes pushed to stage branch. And the latest one did the trick. No more issues. Thank you!

[2016-03-01 14:39] romanman commented on #351
@mkalinin resolve that :+1:

[2016-03-01 15:53] mtgran commented on #351
@mkalinin , @romanman , thanks a lot, it works :+1:

[2016-03-01 16:02] mtgran commented on #350
Hi guys,

I've downloaded the last stage version and even before synchronizing the node, it returns 2^20 for aed50e8d2637b08b2b29c70da003bfd7d5578ec :+1:

Thanks a lot!

[2016-03-01 16:02] #350 closed

[2016-03-10 20:32] holiman opened #353 "Consensus failure; ecrecover precompiled contract"
The ecrecover contract suffers from a lot of the same issues that also affected C++/Python issues reported here: http://martin.swende.se/blog/Devcon1-and-contract-security.html .

Anyway, here's the code

        public byte[] execute(byte[] data) {

            byte[] h = new byte[32];
            byte[] v = new byte[32];
            byte[] r = new byte[32];
            byte[] s = new byte[32];

[2016-03-10 20:35] holiman opened #354 "Consensus failure; double suicide"
The java-client _appears_ to suffer from the issue reported here: http://martin.swende.se/blog/Another_ethereum_vulnerability.html .

Caveat: I've not verified this, only browsed the code. From what I can see, suicides are added to a list. At finalization, the list size is simply counted, and rewards are calculated; basically exactly what the python client did earlier.

Apologies if I've misunders

[2016-03-10 20:50] holiman commented on #353
I'm still trying to get the framework running, exploring it a bit. To fix it properly there should be supporting testcases aswell. Sorry, but I think it's better fixed properly by existing developers.

[2016-03-10 20:54] romanman commented on #353
@holiman : ok we will include it to our task list :+1:
thank you for the report

[2016-03-14 18:14] eitansela commented on #344
@Nashatyrev , do you have a planned date for your next upcoming release?
We need an official jars...
Thanks!

[2016-03-14 18:17] Nashatyrev commented on #344
@eitansela https://github.com/ethereum/ethereumj/releases/tag/1.2.0-homestead-RC

[2016-03-15 07:52] eitansela commented on #344
Thanks @Nashatyrev

[2016-03-15 11:18] mkalinin commented on #353
The fix is here https://github.com/ethereum/ethereumj/commit/e85d8c3199bc13405ff4ba180697165751fe8e6a

[2016-03-15 11:18] #353 closed

[2016-03-17 02:35] Nashatyrev commented on #354
@holiman Thanks for reporting. You was completely right. The issue is fixed now in `stage` and `develop`

[2016-03-17 02:35] #354 closed

[2016-03-24 18:28] Nashatyrev commented on #320
Morden genesis file is now in resources.
Morden peer can be launched with `./gradlew runMorden`

[2016-03-24 18:28] #320 closed

[2016-03-25 16:39] loxal opened #357 "Updating to Java 8"
Thanks for merging my PRs, Anton!

I would like to do further contributions. I see that the source code is not using any Java 8 language constructs, like native lambdas (w/ native bytecode lambda representation that might further improve performance). I would like to replace anonymous inner classes with lambdas if you do not object :)

[2016-03-25 16:41] romanman commented on #357
@loxal we intentionally stay on 7 level ,
for android compatibility

[2016-03-25 16:44] loxal commented on #357
@romanman Ok, understand. With Android 7, Google is going do dump Dalvik in favor of OpenJDKs VM (big news, a month ago…) which would enable Java 8 support. Do you still want to stay Java 7 compatible for some time or for a much longer period of time?

[2016-03-25 16:45] romanman commented on #357
@loxal yeah want to see it first

[2016-03-27 03:34] loxal opened #359 "Excluded IntelliJ IDEA project meta-data"
Is there a reason why IntelliJ IDEA’s project metadata is excluded via .gitignore? Including it would improve startup times of the IDE, assure that a project is not imported in an undesirable way and would also make it possible to share Run Configurations, copyright headers, coding styles, artifact configurations etc.

And TeamCity CI can even use .idea to build a project and its artifacts.

[2016-03-28 02:29] loxal opened #360 "Failing tests in “develop” branch"
These tests are failing when I run the tests locally on my Mac:

The code cannot deal with an empty string that is returned but I guess the problem is that an empty string is returned at all. Also org.ethereum.solidity.CompilerTest#simpleTest should get an assertion. I’ve fixed the tests in a way that they way because of not fulfilled assertions but not because of some unexpected behavior. A corre

[2016-03-28 17:21] loxal opened #362 "App crashes after a while"
This is the last few lines one sees when running the app for a while using `java -jar target/ethereumj-v1.1.0-SNAPSHOT-jar-with-dependencies.jar -listen 8545 -db databasenew -reset no -listen 20202`:

[2016-03-28 17:32] Nashatyrev commented on #362
Hi, I suppose you are using `develop` branch? You would better work with the `stage` branch (the corresponding artifact is `1.1.0-stage-SNAPSHOT`) since all the fresh fixes goes there. A bunch of conflicts were resolved there last days. Please try to run with the `stage`

[2016-03-28 22:03] loxal commented on #359
I know that in the time as Eclipse was more popular than today, it would not make sense to commit these files as Eclipse stored something like “C:\myveryownfolder/myproject” (absolute paths) and user data like which tabs are open and which buttons are visible. That’s not the case with IntlliJ. wokspace.xml is the only file that needs to be excluded.

This would really improve the out-of-the-box ex

[2016-03-28 22:05] loxal commented on #362
develop, master, stage… I’m a bit confused… I suppose: master = release; develop = integration; stage = feature branch?

[2016-03-29 15:18] romanman commented on #359
@loxal this days all the IDEs
has very good import tools
so no need to add this files
to the core.

[2016-03-29 15:18] #359 closed

[2016-03-29 15:22] Nashatyrev commented on #359
Agree with @romanman, all project deps are managed by the gradle and imported to IDEA with two mouse clicks. Putting IDEA project would duplicate that information and additionally will require us extra efforts to keep this in sync.
As well everyone tunes his project on his choice and cleaning it up before commit would be annoying

[2016-03-29 17:06] Nashatyrev commented on #336
Committed to the nearest release

[2016-03-29 17:06] #336 closed

[2016-03-31 20:32] Nashatyrev commented on #342
This doesn't appear to be ERROR level message. This is INFO level message which is not printed to console by default but good to have in logs in case of unexpected behavior

[2016-03-31 20:32] #342 closed

[2016-04-02 07:21] loxal opened #365 "Applying the copyright header from the LICENSE file to every Java file"
I could easily apply a copyright header from the LICENSE file to all Java files. At least that’s what all meaningful project do to protect their IP.

[2016-04-02 11:48] Nashatyrev opened #367 "Solidity compiler fails to work on some Mac setups"
Most likely the problem is missing some dylibs which are installed on some setups but missed on others.
One known is something like json-rpc.dylib

[2016-04-02 11:50] Nashatyrev commented on #367
The best way to test is to use clean OS installation

[2016-04-02 11:57] Nashatyrev commented on #367
@loxal didn't you see any output from `CompilerTest` ?

[2016-04-02 12:03] loxal commented on #367
Exactly these are the both tests that failing on my machine related to:
[code]
I’ve debugged a bit and it turns out that

[code]
both eventually return an empty string. I’ve provided you with corresponding JUnit tests already to catch this case with a **failing assertion** instead of **undefined behavior** (failing test because of some exception).

[2016-04-02 12:52] Nashatyrev commented on #367
@loxal Can you please try copying those files to a dir: https://github.com/ethereum/ethereumj/tree/develop/ethereumj-core/src/main/resources/native/mac/solc
and running `solc`. What will it say?
I guess you'll need to `chmod +x solc`

[2016-04-02 13:30] loxal commented on #367
The solc version in the repo is v1.6.x which is quite old. The most recent one is “Version: 0.3.1-33b95459/Release-Darwin/appleclang/Interpreter”. With this version the ≈10 tests that were broken all pass :+1:

Those were the broken tests that I was talking about. Actually on other branches they were only two related tests. On `stage` there were some more tests broken. Now all 717 tests pass.

[2016-04-02 13:35] loxal commented on #367
The solc version I’ve provided is the latest one you can get from brew, Mac’s package manager.

[2016-04-02 15:15] loxal commented on #359
Actually I made very good experience in multi-years project in multiple teams with this approach. There are no sync issues as the IDE should always sync to the changes from SCM and not otherwise (this is the actual intent).

The obvious disadvantage in auto-imports is that folders like `build` are not excluded so the auto-import could be better… Also the information of other excluded folders like

[2016-04-02 16:00] loxal opened #370 "Align command line parameters with Parity & Geth"
We should align the terminology with Parity or Geth. I am not familiar with Geth but Parity is using the following:

-db => -d --db-path
-connect => --jsonrpc-port & --jsonrpc-interface
-listen => --port

[2016-04-02 16:01] loxal commented on #370
When both are using different variants, we should at least stay aligned with one of them to simplify adoption?

[2016-04-03 10:34] loxal opened #371 "Critical: Local JSON RPCs are not working"
Doing
[code]
gives me a timeout on latest “stage” code. I remember this was broken in Parity in a pre-1.0 phase but it works w/ Parity. This is is just an example. I guess every other REST call will timeout as well. Works with Parity v1.0.1:

[code]

It looks like EthereumJ server is saturated and is out of free threads. To start the server, I’ve used
`java -jar build/libs/ethereumj-core-1.1.0-sta

[2016-04-03 10:39] romanman commented on #371
Hi @loxal ,

Thanks for reporting,
the thing is that core
lib doesn't support
RPC and it is in develop
subject, in wrapper lib

[2016-04-03 10:39] #371 closed

[2016-04-03 10:58] loxal commented on #371
Haven’t got the last one “subject, in wrapper lib”? For me this feature is pretty crucial as this is what would make many users switch to EthereumJ who cannot use GPLv3ed Parity and want to develop closed-source software.

[2016-04-03 11:00] romanman commented on #371
@loxal that is right, this is
a different beeimg developed
project. Soon to be released

[2016-04-03 11:09] loxal commented on #371
So will this feature  be soon available as part of the EthereumJ server?

[2016-04-03 11:11] romanman commented on #371
Alex my dear, java support
for Ethereum json rpc is our
wrapper project, and will be
available soon

[2016-04-04 14:18] romanman commented on #367
@loxal : we are going to release the
ethereumj core with solc `0.2.2`,
can you please test our fix for mac
libs support

[2016-04-05 03:12] zhouyuanbin opened #372 "Contract compile error"
I’ve got the contract error message as below:
[code]
The contract content:
[code]
When will the problem be solved? Thank you.

[2016-04-05 09:43] crazybits opened #373 "failed to build with gradle behind proxy"
2016-04-05 17:02:18,272 [ 159093]   WARN - nal.AbstractExternalSystemTask - The response from https://plugins.gradle.org/api/gradle/2.3-rc-4/plugin/use/com.github.johnrengelman.shadow/1.2.0 was not a valid response from a Gradle Plugin Resolution Service: content type is 'text/html; charset=utf-8', expected 'application/json'
com.intellij.openapi.externalSystem.model.LocationAwareExternalSystemExc

[2016-04-07 01:47] Nashatyrev commented on #339
Wallet was removed from the core

[2016-04-07 01:47] #339 closed

[2016-04-07 01:49] Nashatyrev commented on #357
Ok, closing this for now

[2016-04-07 01:49] #357 closed

[2016-04-07 01:51] Nashatyrev commented on #372
Should work on Mac with the latest revision

[2016-04-07 01:51] #372 closed

[2016-04-07 01:53] Nashatyrev commented on #373
At least at this point we are not going to sort out such problems. Please refer to corresponding gradle plugins

[2016-04-07 01:53] #373 closed

[2016-04-07 01:55] Nashatyrev commented on #367
This should be fixed in 1.2.0

[2016-04-07 01:55] #367 closed

[2016-04-07 01:56] Nashatyrev commented on #362
Ok I believe we fixed all known conflicts for now. `develop` is the only working branch now

[2016-04-07 01:56] #362 closed

[2016-04-07 01:57] Nashatyrev commented on #360
Thanks for PR!
Solc on Mac should work from 1.2.0

[2016-04-07 01:57] #360 closed

[2016-04-08 13:55] Nashatyrev opened #375 "Add Ethereum.getTransactionInfo() including pending transactions"

[2016-04-11 13:21] loxal opened #378 "Protocol issues"
I run

and get

[code]

which looks like a bunch of protocol incompatibility issues. I’m not sure if that indicates an actual issue or is just some log noise that should be removed.

[2016-04-11 13:55] romanman commented on #378
@loxal : probably peers that are not supporting the right Eth protocol

[2016-04-11 14:13] loxal commented on #378
Maybe but it’s not so much about incompatibilities but rather about removing this kind of logs from the vanilla build (default config level) that made up 80% of the output. I am running the Parity server that does not show this kind of log noise. Eventually I want to run EthereumJ instead of Parity.

[2016-04-12 00:43] Nashatyrev commented on #378
Yep, just need to check out where all those messages come from

[2016-04-16 15:06] UrsZeidler opened #379 "Package the core to an eclipse plugin."
This is a feature request.
I'm currently helping out with a solidity editor for eclipse (https://github.com/webdaford/smart-contract-tools) the bigger picture is a complete smart contract development environment with full compilation and debug support.
For this it would be necessary, or at least very helpful, having native network access and a native vm which you could provide.

The basic goal cou

[2016-04-18 14:11] Nashatyrev opened #380 "Return back EthereumListener.onSyncDone() behavior"
Return back the behavior `EthereumListener.onSyncDone()` - the callback should be called when up-to-dated block is received (currently it is called when longSyncDone)
Remove @deprecated flag
@mkalinin If you have any comments you are welcome

[2016-04-18 17:48] blmalone commented on #335
How would I add ether to this account?

[2016-04-19 06:15] mhoudg opened #381 "ECKeyTest.testGetAddress() not match to geth action"
I tried two group data:

1st group comes from ethereumj goes correct:

    private String privString = "3ecb44df2159c26e0f995712d4f39b6f6e499b40749b1cf1246c37f9516cb6a4";
    private String pubString = "0497466f2b32bc3bb76d4741ae51cd1d8578b48d3f1e68da206d47321aec267ce78549b514e4453d74ef11b0cd5e4e4c364effddac8b51bcfc8de80682f952896f";
    private String address = "8a40bfaa73256b60764c1bf40675a99083

[2016-04-19 09:16] mhoudg commented on #381
It's my fault, I used

     byte[] senderPrivKey = HashUtil.sha3("cow".getBytes());
     BigInteger privateKey = new BigInteger(senderPrivKey);

Which should be

     byte[] senderPrivKey = HashUtil.sha3("cow".getBytes());
     String hex = Hex.toHexString(senderPrivKey);
     BigInteger privateKey = new BigInteger(hex, 16);

I didn't notice that I should create BigInteger from a hex, it was reall

[2016-04-19 09:16] #381 closed

[2016-04-19 11:45] adridadou opened #382 "StandaloneBlockchain: hardcode the difficulty to ONE"
This is my test code:

[code]

And the publish function does:

[code]

and it hangs on "blockchain.createBlock()"
It seems the exact line where it hangs is
Ethash.getForBlock(b.getNumber()).mineLight(b).get();

Thank you !

[2016-04-19 11:51] Nashatyrev commented on #382
@adridadou Please check you have this config modification code:
https://github.com/ethereum/ethereumj/blob/develop/ethereumj-core/src/main/java/org/ethereum/samples/StandaloneBlockchainSample.java#L42
It might be just a high difficulty calculated for the mined block and it mines much longer

[2016-04-19 11:54] adridadou commented on #382
It seems that way. It works much better now. Would it be possible to hardcode the difficulty to ONE for the StandaloneBlockchain ?

[2016-04-19 11:56] Nashatyrev commented on #382
Sounds reasonable, but I didn't do it since the setting is changed globally and might affect other instances. But I think I can handle this in some way.
Thanks for reporting

[2016-04-19 11:59] adridadou commented on #382
I see what you mean. Maybe it would be a good idea to hardcode the config but also to have this Standalone class only on the class jar so that people won't use it in their productive code.

[2016-04-19 12:11] adridadou opened #383 "StandaloneBlockchain.createExistingContractFromABI impl seems to be wrong"
I am trying to use the method
[code]

but the method createContract(ABI,null) is

[code]

so it seems that the method createContract waits for the source, not the ABI

[2016-04-19 12:21] Nashatyrev commented on #383
Yep, my bad. Thanks!

[2016-04-21 16:34] Nashatyrev opened #385 "Ethereum.close() implementation"
Subj

[2016-04-21 16:56] Nashatyrev commented on #385
Rose Toomey: my definition of a successful shutdown is that when i call close() all resources are dealt with: file handles are closed, locks are released, thread pools are shut down, listeners are stopped, etc - imagine i have an external application which is doing a hot deploy (since we're in Java-land, say i'm using JRebel) - when there is a hot redeploy of my code, then my application server's

[2016-04-21 17:09] rktoomey commented on #385
Trying to fix this in our fork and submit an upstream PR

[2016-04-21 17:39] Nashatyrev opened #386 "TransactionReceipt needs clear indication on whether the Transaction was successful"
If a block contains transaction with e.g. low gas, the `TransactionReceipt` has no indication that tx was not completed successfully. The only mean to find this out is to compare `txStateRoot` with the previous transaction. If this value has not changed then something went wrong

[2016-04-22 12:49] adridadou opened #390 "CreateContractSample hangs when I run it"
When I run CreateContractSample I keep getting:

It seems that the configuration for the testnet and morden is out of date because when I run it without any special config I get the blocks from the main net.

I ran the CreateContractSample from the master branch

[2016-04-22 14:14] Nashatyrev opened #391 "Implement RepositoryTrack.getRoot()"
While we importing bad block the Trie state changes on block Tx executions. When we finally find out that the block is bad (stateRoot doesn't match) we can't rollback the RepositoryTrack.
Normally this should be fixed by keeping a track for the whole block processing, but for this we need to implement RepositoryTrack.getRoot() which I guess not so trivial.

The workaround fix:
https://github.com/e

[2016-04-22 15:27] Nashatyrev opened #392 "Minor Netty ByteBuf leaks"
17:38:21.520 [ResourceLeakDetector]  LEAK: ByteBuf.release() was not called before it's garbage-collected. See http://netty.io/wiki/reference-counted-objects.html for more information.

[code]

[2016-04-26 00:35] rktoomey commented on #385
This has been merged into the gemini fork for testing locally and will be submitted upstream shortly

[2016-05-02 14:01] mtbitcoin commented on #378
@loxal did you manage to resolve this? I am running into similiar issues too

[2016-05-02 14:14] loxal commented on #378
@mtbitcoin I guess some switch is missing… I haven’t looked at it any further but those messages add up further to the log noise for sure.

[2016-05-04 06:38] mhoudg opened #397 "Got an error while a Redis node merged a longer chain from other node."
I had two nodes running with a modified genesis, one of them works with a Redis server, the other one works with the default LevelDB. They work together fine while keep connected to each other.

I had disconnected them from each for a while, both servers mined by themselves. The LevelDB one mined more blocks(about 190), while the Redis one mined less blocks(about 130).

After that, I connected the

[2016-05-04 06:47] mhoudg commented on #397
There was a block dump info on console:

[code]

[2016-05-12 16:55] jlopp opened #399 "NullPointerException in 1.2.5"
When I upgraded EthereumJ to 1.2.5 I'm seeing a lot of these NPEs, though they don't appear to be fatal:

`05-12 09:44:49.756 [nioEventLoopGroup-128-1] ERROR net - P2p handling failed
io.netty.handler.codec.EncoderException: java.lang.NullPointerException
	at io.netty.handler.codec.MessageToMessageEncoder.write(MessageToMessageEncoder.java:107)
	at io.netty.handler.codec.MessageToMessageCodec.writ

[2016-05-26 12:42] generalbytes opened #403 "ConcurrentModificationException during the blockchain sync"
ConcurrentModificationException during the blockchain sync:

13:30:30.649 INFO [sample]  Blockchain sync in progress. Last imported block: #1152027 (9eae81 <~ 7e2970) Txs:1, Unc: 0
13:30:40.669 INFO [sample]  Blockchain sync in progress. Last imported block: #1152190 (56e1cc <~ 4b8bb2) Txs:0, Unc: 0
13:30:50.693 INFO [sample]  Blockchain sync in progress. Last imported block: #1152370 (093c4f <~ d

[2016-05-31 11:42] Nashatyrev opened #405 "Support Solidity constructor parameters for contract creation"
Subj
http://ethereum.stackexchange.com/questions/4395/creating-a-contract-with-constructor-in-ethereumj

[2016-06-01 01:27] Nashatyrev opened #406 "Process inbound Eth requests without locking BlockchainImpl"
Requests like `GetBlockHashaes`, 'GetBlockBodies` are now executed under `BlockchainImpl` lock so many threads are frequently blocked by such calls.

[2016-06-02 14:43] Nashatyrev commented on #380
This will be in `develop` shortly

[2016-06-02 14:43] #380 closed

[2016-06-02 14:49] #403 closed

[2016-06-02 15:14] #383 closed

[2016-06-02 19:57] Nashatyrev opened #407 "Periodical NoSuchElementException in discovery code"
[code]

[2016-06-02 22:10] #407 closed

[2016-06-02 22:21] Nashatyrev opened #408 "java.lang.IllegalArgumentException: Comparison method violates its general contract!"
java.lang.IllegalArgumentException: Comparison method violates its general contract!
        at java.util.TimSort.mergeHi(TimSort.java:899)
        at java.util.TimSort.mergeAt(TimSort.java:516)
        at java.util.TimSort.mergeCollapse(TimSort.java:441)
        at java.util.TimSort.sort(TimSort.java:245)
        at java.util.Arrays.sort(Arrays.java:1512)
        at java.util.ArrayList.sort(Array

[2016-06-02 22:41] #408 closed

[2016-06-05 18:32] romanman commented on #399
@gubatron : we need more info ,
can you upload the full log with
.net. package on details.

[2016-06-05 18:34] romanman commented on #397
Hi @mhoudg , we have tested Reddis and apparently it
is more cache than a transnational reliable db for state saving
we soon have to remove it classes for core.

So LevelDb is your best option.

[2016-06-06 00:27] gubatron commented on #399
I didn't have this issue myself, I just looked at the backtrace of the issue report.

[2016-06-06 09:21] zilm13 opened #409 "Getting "No parent on the chain" error on sync"
Hello. My DB crashed. I've deleted old one and tried to start again, but it failed on 1150001 block. I've deleted DB again, started over and the same issue repeats.

Here's the log:

Any suggestions how to fix it?
Thank you

[2016-06-06 10:28] Nashatyrev commented on #409
Hi @zilm13, the block `1150000` is the starting point for Homestead (for the main and test networks), it seems your config has some problems. For the test network I've fix the bug (in `develop`) which resolves the similar issue, please check you are using the latest develop build.
What network are you running on and did you change the config?

[2016-06-06 11:29] zilm13 commented on #409
I'm using 1.2.5-RELEASE, config is the same as test.conf from the package.
Should I switch to develop version?

[2016-06-06 11:52] Nashatyrev commented on #409
Yep, please try the develop version

[2016-06-06 16:45] zilm13 commented on #409
Great, it works.
Thank you!

[2016-06-06 16:45] #409 closed

[2016-06-07 00:06] Nashatyrev opened #410 "SyncPool java.util.ConcurrentModificationException"
[code]

[2016-06-07 00:17] #410 closed

[2016-06-07 01:40] Nashatyrev commented on #392
Netty bug: https://github.com/netty/netty/commit/1fefe9affb05c7ffe69c05551b2864e7454c76e7

[2016-06-07 01:46] #392 closed

[2016-06-07 17:48] Nashatyrev opened #411 "SyncPool issues."
We are currently having a number of issues with sync peers management and message processing:
- We sometimes unfairly drop our sync peers (BAD_PEER_ACTION)
- When sync peers are dropped the total number of them is not restored for long period
- Sometimes we have dead peers in our list (they are added to SyncPool almost at the same time the connection to peer is dropped)
- [BLOCK_BODIES] messages i

[2016-06-07 23:05] Nashatyrev commented on #411
Item (4) resolved
https://github.com/ethereum/ethereumj/commit/f5bfece610a5507dfd6a162f674fc3ddb26fb3e1

[2016-06-08 11:02] romanman opened #413 "Groovy convert of Miner sample"
`amiracam [9:38 PM]
Yesterday at 9:38 PM`
Hi, I’m trying to convert the PrivateMinerSample to Groovy , everything compiles and my mods have
been minor, as a matter of fact just class renaming since I just copied the original file. Everything at
first glance seems to startup fine, but closer inspection shows that the private config classes i.e. for the Miner and Regular config classes are apparentl

[2016-06-08 11:24] Nashatyrev commented on #413
Why do you think the config classes are ignored?
@romanman Can we add amiracam to this issue CC?

[2016-06-08 11:25] romanman commented on #413
@Nashatyrev yep referred him to that link,
I guess he will push more info for us

[2016-06-08 15:32] romanman commented on #413
[code]

[2016-06-08 15:43] amiracam commented on #413
ok, FYI, my process for absorbing this was to do a build as per your instructions a project in IDEA , I then added Grooyy as a dependency and IDEA configured the project for Groovy i.e. the Groovy compiler is used. To test Groovy I would simply change the file extension from .java to .groovy and then handle what ever inconsistencies, I can do that again btw, do you all have a new build ?

[2016-06-08 15:48] amiracam commented on #413
btw, being able to use EthereumJ through a clean dynamic language style interface I feel would be very attractive to everybody else already trying to do so via other means but not running on a powerful VM  i.e. the JVM

[2016-06-08 15:51] Nashatyrev commented on #413
@amiracam, regarding your config issue: from your logs everything looks good. The log is the same as with a clean Java run. What problems are you experiencing?

[2016-06-08 16:37] amiracam commented on #413
then pardon my ignorance, the output seems to indicate that the default  ethereum.conf was used as opposed to a passed in config e.g. RegularConfig, MInerConfig

[code]
and as assumed from here:

Now I attempted to compare results with the clean Java version i.e. PrivateMinerSample however, at the moment I'm having an issue with a no class def found for that class and furthermore to have a totally

[2016-06-08 17:19] Nashatyrev commented on #413
@amiracam You actually need a Spring config mostly to run several nodes in a single JVM. This kind of configuration is not reflected in logs.
In all other cases you may configure the node statically (reflected in this log) You may check the options: https://github.com/ethereum/ethereumj#configuring-ethereumj

[2016-06-08 17:23] amiracam opened #414 "can't import into IDEA"
from latest git repo, and after following the instructions provided I get:

http://www.screencast.com/t/dtkjENtb

[2016-06-08 17:24] amiracam commented on #413
np, I'll attempt the non Spring configs, in the meanwhile I am encountering an error in attempting to create a new IDEA project from the latest git repo, I started a new issue for that. thanks

[2016-06-08 17:39] Nashatyrev commented on #414
Reproduced with `Use local gradle distribution`, but works fine with option `Use default gradle wrapper`

[2016-06-08 17:48] amiracam commented on #414
fine, thanks

[2016-06-08 17:53] Nashatyrev commented on #414
@amiracam Did you have `Use local gradle distribution` as a default option in IDEA?

[2016-06-08 17:56] amiracam commented on #414
well actually no, looking back at the attached pic now , and also reproducing the process IDEA seems to by default have "Use default grade wrapper" selected

[2016-06-08 18:42] amiracam commented on #414
ok, I built successfully now, not a very controlled experiment , but what I did is that I invalidated my IDEA cache and also closed all other projects and went to the start page wizard and ran the import wizard i.e. as opposed to proceeding via the File > import from existing source method, now i have a clean Java build , and will now create a second build which I will configure for Groovy use

[2016-06-10 23:39] chris-martin opened #416 "Build failure: UnsatisfiedLinkError"
Gradle is failing on `:ethereumj-core:processResources`.

I'm using NixOS, so I'm used to failures like this when a build depends on having a filesystem that is structured like an Ubuntu-like distro. I'm not sure how to figure out what exactly this build is failing on, though.

[code]

[code]

[2016-06-13 12:43] nickmelis opened #417 "[general] Uncaught exception"
When running EthereumJ v1.2.7 against morden, I get the following exception in the logs:

`13:40:51.707 ERROR [general]  Uncaught exception
java.util.NoSuchElementException
	at java.util.concurrent.LinkedBlockingQueue$Itr.next(LinkedBlockingQueue.java:826)
	at java.util.Collections.min(Collections.java:635)
	at org.ethereum.net.rlpx.discover.PeerConnectionTester$MutablePriorityQueue.take(PeerConne

[2016-06-14 09:30] 5chdn opened #418 "Move the default database dir to $HOME"
Hi, wouldn't it be wise to move the default database dir to the user's `$HOME`?

I recently cleaned up my workspace and today I wanted to run EthereumJ and I noticed, I also deleted the git clone of ethereumj on my disk. Last time I did not set any database dir path (now I'm aware of that feature), however, with the deletion of the whole source code I also removed the whole blockchain database.

P

[2016-06-14 10:12] nickmelis opened #419 "Occasional null block when querying the blockchain"
Using Ethereum 1.2.7-SNAPSHOT connected to Morden.

I have created a custom EthereumListener and implemented the onBlock() method.
Inside the onBlock() method I call Ethereum.getBlockchain().getBlockByNumber() with the block number passed down the listener.
Sometimes what I get from Ethereum.getBlockchain().getBlockByNumber() is null. It happens randomly so I am not sure what's causing it

[2016-06-14 11:22] Nashatyrev commented on #417
Thanks for reporting this. The exception should be fixed in `1.2.7-SNAPSHOT`. If you are observing it on this build please reopen

[2016-06-14 11:22] #417 closed

[2016-06-14 11:44] Nashatyrev commented on #419
@nickmelis wrote:  I am running with 1.2.7-RELEASE and still getting the same problem

So you are getting `null` blocks on new blocks or blocks which were imported with the previous version?

[2016-06-14 13:03] nickmelis commented on #419
Hi Anton,
I am getting null on new blocks. I call Ethereum.getBlockchain().getBlockByNumber() inside the listener methd onBlock(), so as soon as my client receives the block. Running on 1.2.7-SNAPSHOT now and still seeing the error.

[2016-06-14 13:10] Nashatyrev commented on #419
Hm... This might be another issue: when a forked block arrives we are calling listener before `rebranch` operation, this could be the reason.
Can you please try the following workaround: process `onBlock` event on a parallel thread with some timeout (like 200-1000ms)?

[2016-06-14 13:11] nickmelis commented on #419
If it was a forked block, would onBlock() get called twice with the same block number?

[2016-06-14 13:19] Nashatyrev commented on #419
Yes, but those blocks should have different hashes

[2016-06-14 13:21] nickmelis commented on #419
I am afraid this may not be the case then...I log every block number that goes through the onBlock() listener method. If it was a rebranch, I would see the same block number logged twice, am I right?

[2016-06-14 13:49] Nashatyrev commented on #419
@nickmelis Ok, I'll try to reproduce the case. How frequent does `null` appears?

[2016-06-14 13:53] Nashatyrev commented on #419
BTW, can you try the same with the `develop` version? We are going to promote it to RELEASE this week

[2016-06-14 13:59] nickmelis commented on #419
Just put a note on the first comment. I am using 1.2.7-SNAPSHOT. It appears to occur every 30-50 blocks, but it's quite random. It's happened twice in a row with block 1132820 and 1132821

[2016-06-14 14:06] Nashatyrev commented on #419
Are you working with Morden?

[2016-06-14 14:10] nickmelis commented on #419
Yes I am.

[2016-06-14 14:17] nickmelis commented on #419
This is my listener:
`
private final EthereumListener listener = new EthereumListenerAdapter() {
    @Override
    public void onBlock(Block block, List<TransactionReceipt> receipts) {
      if (ethereum.getBlockchain().getBlockByNumber(block.getNumber()) == null) {
        logger.error("Block {} was null", block.getNumber());
      }
    }
  };
`

[2016-06-14 23:38] Nashatyrev commented on #419
@nickmelis Reproduced this issue. This indeed happens on rebranch and can be workarounded by calling `getBlockByNumber` in a separate thread.
Will be fixed shortly

[2016-06-15 02:19] mhoudg opened #420 "Mining failed after mined 30,000 blocks, and can not restart mining again"
[mine_30k_bug.txt](https://github.com/ethereum/ethereumj/files/315326/mine_30k_bug.txt)

I created a pure private blockchain to test smart contract, after several days, when the block creased to 30,000 block, the miner not work any more.

I have to remove all the database dir, and lost all data before.

[2016-06-15 10:53] nickmelis commented on #419
@Nashatyrev do you have a rough ETA for when the fix will be in develop?

[2016-06-15 22:44] Nashatyrev commented on #420
Sounds like the issue with new DAG calculation for the new epoch (each 30K blocks). We are lacking precalc for now so it should take ~10min to calculate a new one

[2016-06-15 23:03] Nashatyrev commented on #419
@nickmelis Looking forward to push the fix tomorrow

[2016-06-16 09:34] Nashatyrev commented on #420
Reproduced in `master`, in `develop` it is already fixed
The issues was in incorrect caching of the DAG in file. To workaround this issue you just needed to remove `database/mine-dag.dat` file

[2016-06-16 09:35] #420 closed

[2016-06-16 09:49] Nashatyrev opened #421 "Implement contract events (LOG) API"
We are lacking of convenient LOG tracking API. It is currently implemented as JSON RPC filters, but we need to add this as Java API

[2016-06-16 09:54] Nashatyrev commented on #411
Item 3 resolved with https://github.com/ethereum/ethereumj/commit/ae589e93b2da6d3beb52db064246a1360aad49c6
SyncPool has been refactored, other items no more reproducible

[2016-06-16 09:54] #411 closed

[2016-06-16 10:50] #419 closed

[2016-06-16 12:39] Nashatyrev commented on #399
No such exception was detected on the latest `develop` on ~20 peers running for 1 week.
Anyway this ERROR should now be a WARN

[2016-06-16 12:39] #399 closed

[2016-06-20 10:56] abhiram-mishra commented on #335
how do you provide the password ?

[2016-06-21 00:48] Nashatyrev opened #422 "Move 'jsontestsuite' package to test"

[2016-06-21 03:41] romanman commented on #422
There is option to run the tests in gradle
I think in test location it wont work

[2016-06-21 06:06] The-Neo-Noir opened #423 "keystore implementation"
How about a keystore implementation just like geth with support of password to encrypt the keystore file.

[2016-06-21 13:55] ShockiTV opened #424 "How to vote NO to bailing out DAO and not be restrained by gas limit ?"
Hello,

as a miner I want to vote NO to bailing out irresponsible DAO investors.
And also I dont want to be restrained in my own gas limit setting.

How to do that?

[2016-06-21 14:39] romanman commented on #424
Don't target the gas down to pi M

[2016-06-21 23:37] oscarguindzberg opened #425 "ContractDetailsImpl leveldb persistence bug"
There is a race condition if 2 threads are using the same contract at the same time.
Eg. I am sending a tx to contract via web3/rpc interface and at the same time I receive a block with a tx to the same contract.

Thread 1: Sends a tx to a contract:
- JsonRpcImpl.eth_sendTransaction()
- EthereumImpl.submitTransaction()
- PendingStateImpl.addPendingTransaction(transaction);
- PendingStateImpl.execu

[2016-06-22 21:44] Melvillian commented on #386
I think you can close this one because of commit 2da0f6bc2eae383ac12b876641169ffe0316d2b8

[2016-06-22 22:07] Nashatyrev commented on #386
@Melvillian oh, yes, thanks!

[2016-06-22 22:07] #386 closed

[2016-06-23 01:40] Nashatyrev opened #426 "Return back Gas arithmetic from BigInteger to long"
It's now the major performance bottleneck.
See also https://github.com/ethereum/EIPs/issues/106

[2016-06-23 01:45] Nashatyrev opened #427 "Eliminate separate DBs for large contracts"
Due open/close DB operations parallel `ContractDetails` usage is problematic
This might be implemented via using `XorDataSource`

[2016-06-28 10:21] #385 closed

[2016-06-28 22:34] jlopp opened #430 "Potential syncing bottleneck"
This is just an informational point; not sure if you'll find it helpful. I was profiling EthereumJ 1.3.0 snapshot syncing the main network with none of our app code activated and noticed that a substantial portion of the CPU time is spent in the Transaction.getSender() function. Just an FYI - it might be low hanging fruit for a performance optimization.
![screen shot 2016-06-28 at 6 31 36 pm](http

[2016-06-28 22:46] Nashatyrev commented on #430
Yep, this is CPU hard operation, that's why it is currently executed in parallel via `ExecutorPipeline` (you see it on top the stack)
BTW if you any better EC_RECOVER java implementation would be great!

[2016-06-28 22:46] #430 closed

[2016-06-28 22:48] Nashatyrev commented on #430
The major syncing bottleneck is DB access

[2016-06-28 23:22] Nashatyrev opened #431 "Block's given Receipt Hash doesn't match for block #1694983 (and some others)"
Block's given Receipt Hash doesn't match: `a192cae5e126dd5b549b30ecf6e614a16514a9ca23c58b600d1847637df4d150 != 4e24a12b44990332fffe133ba39d2107d6d549c31c0ab0a257bc8a0b000922eb`

Though stateRoot hash matches and we have no conflicts importing this block

[code]

[2016-07-05 10:26] Nashatyrev opened #434 "SystemProperties.privateKey() read file on each invocation"
Subj

[2016-07-07 14:37] #405 closed

[2016-07-12 16:25] mvanotti opened #440 "NewBlockHashesMessage.getBlockIdentifiers should parse if not already parsed."
NewBlockHashesMessage.getBlockIdentifiers should have a clause

`if (!parsed) parse()` like the rest of the messages in the Message package.

[2016-07-12 16:32] mvanotti opened #441 "NewBlockHashesMessage.getBlockIdentifiers should parse if not already parsed."
The code for [getBlockIdentifiers](https://github.com/ethereum/ethereumj/blob/9cf08dafe474014c577c0636df6cfa48022828bc/ethereumj-core/src/main/java/org/ethereum/net/eth/message/NewBlockHashesMessage.java#L65-L67) should have the following logic:

`if (!parsed) parse();`

To avoid possible NPE.

[2016-07-12 17:44] Nashatyrev opened #442 "JSON RPC fails to work with >curl"
[code]
Works only with option `-H "Content-Type: application/json"`
We should ignore `Content-Type:` header

[2016-07-12 17:45] mvanotti commented on #440
Duplicated.

[2016-07-12 17:45] #440 closed

[2016-07-20 12:39] cupuyc opened #446 "Wrong behavior when Spring context restarts"
EthereumJ became broken after Spring context did restart. For example when `logback.xml` was modified.

In https://github.com/ether-camp/ethereum-harmony project I used `org.ethereum:ethereumj-core:1.3.0-RC5-RELEASE`. I run server with `./gradlew bootRun`. When I edit `logback.xml` - my beans restart correctly, while EthereumJ fails and stop working.

Here the log with link to spring restart https

[2016-07-27 17:24] Melvillian commented on #431
I just saw a similar error, but on block 1954654. Here's the log output

`java.lang.NullPointerException: null
        at org.ethereum.trie.TrieImpl.delete(TrieImpl.java:298)
        at org.ethereum.trie.TrieImpl.insertOrDelete(TrieImpl.java:215)
        at org.ethereum.trie.TrieImpl.update(TrieImpl.java:145)
        at org.ethereum.trie.SecureTrie.update(SecureTrie.java:25)
        at org.ethereu

[2016-07-27 17:41] Nashatyrev commented on #431
@Melvillian It's a different issue. Is it reproducible when you restart without DB clean up?

[2016-07-28 22:03] Melvillian commented on #431
@Nashatyrev How could I reproduce it without performing a DB cleanup? ethJ has already processed that block, so I can't undue it and replay it without wiping the database directory and starting over. I did see this same error again, though this time it was block #1513959

[code]

[2016-07-29 10:46] Nashatyrev commented on #426
Fixed with `3aee2f878775f7f1870db8112453364ce88259a8` commit

[2016-07-29 10:46] #426 closed

[2016-07-29 10:47] #424 closed

[2016-07-29 10:51] Nashatyrev commented on #423
@cupuyc I think we are on the way to implement this

[2016-07-29 10:52] #414 closed

[2016-07-29 10:53] Nashatyrev commented on #397
Redis db is no more core part

[2016-07-29 10:53] #397 closed

[2016-07-29 10:56] Nashatyrev opened #451 "Move core default logger from log4j to logback"
Logback appears to be more flexible with more appender implementations.
The target is to put by default rolling archiving file appender so the logs size don't exceed some reasonable threshold

[2016-07-29 10:57] Nashatyrev opened #452 "Implement Eth63 protocol (fastsync)"
Subj

[2016-07-29 11:18] cupuyc commented on #423
@The-Neo-Noir you can find that feature at https://github.com/ether-camp/ethereum-harmony/tree/master/src/main/java/com/ethercamp/harmony/keystore
It is still under construction.

[2016-07-29 20:39] Melvillian opened #453 "Exception thrown as a result of 'Too many open files'"
When doing a full sync of the mainnet chain, somewhere after block #1500000 I will see either a SocketException or DBException thrown because I had run out of usable file descriptors (Too many files open). Here is a paste of one such error

[code]

This occurs even after using `ulimit -n` to set the number of allowable open files to a large number (in our case we set it to 65,000).

From running `

[2016-07-31 20:14] Melvillian opened #455 "EthereumJ bestBlock on .close() not equal to bestBlock on startup"
In my project I have a `shutdown()` function which calls `close()` on the ethereumj object created by `EthereumFactory.createEthereum()`. After it successfully closes I log the ethereumJ bestBlock value so I can compare it to what ethereumJ thinks the bestBlock value is when it starts up again, since I have some startup logic which uses ethereumJ's `bestBlock` value.

In one test run of the `shutd

[2016-08-03 14:16] splix opened #457 "Autorepair corrupted leveldb"
After some experiments I got my LevelDB database corrupted, probably because by stopping the process during flush. When first time it happened I just resynced db from the beginning.

Then it happened second time, and I decided to a fix in the code that tries to repair database when it got exception from leveldb driver. That worked fine for me and I didn't notice any problem after that.

I'd like t

[2016-08-04 12:01] Nashatyrev commented on #457
Hi @splix,
this is very good suggestion. We are meeting that problem rarely, but it highly affects users when happened. I would do the following:  if DB corruption is detected are repairing it immediately in synchronous manner (i.e. during KeyValueDataSource bean creation) so all other initialization is suspended. Also I would print a large noticeable warning (to logs and to stderr), something lik

[2016-08-04 17:30] xcthulhu opened #458 "Use libsecp256k1?"
I was looking at:

https://github.com/ethereum/ethereumj/blob/4f80b8db34567b11bccfd403a9615b2e4932bd0a/ethereumj-core/src/main/java/org/ethereum/crypto/ECKey.java#L710

I notice that you use SpongyCastle/BouncyCastle's ECDSASigner, which just uses `java.math.BigIntegers` and is open to [timing attacks](https://en.wikipedia.org/wiki/Timing_attack).

The BitCoinJ code, which this is forked from, wra

[2016-08-04 18:07] Nashatyrev commented on #442
Solution: https://github.com/ether-camp/ethereum-harmony/commit/2a677b5f0bad3799c9b02e202b869fe3e23838b3#commitcomment-18522403

[2016-08-04 18:08] amiracam opened #459 "contract creation transaction fails via JSON-RPC"
Steps taken all via JSON-RPC to testnet

Assumes a sufficiently funded account

1. Compile simple solidity contract
2. Send compiled contract in transaction
3. Attempt to get transaction receipt immediately for previous transaction

The following JSON exchanges should illustrate the above process:

[code]

[2016-08-04 18:31] SergioDemianLerner opened #460 "Error in BLOCKHASH opcode can lead to network partition attack"
Ethereumj EVM implementation implements the BLOCKHASH opcode in a way that is not in sync with the yellow paper. The current implementation reads the 256-bit block index number from the stack, truncates it to the 4 least-significant bytes, and then looks-up the block at that index.
This means that a smart program that tries to obtain the hash of the block 0x0100000001 gets the hash of the block 0x

[2016-08-04 23:14] Nashatyrev commented on #460
Hello!
Nice catch! Thanks for reporting this!
I've discovered a family of such bugs in VM code
To fix this I've changed conversion method to analogs which just return MAX_VALUE (for int and long) if integral type overflow takes place. MAX_VALUE is still large enough to not fall into reasonable boundaries and thus should behave as expected.

[2016-08-04 23:26] #460 closed

[2016-08-04 23:45] Nashatyrev commented on #442
Fixed with peer.ether.camp repo commit: https://github.com/ether-camp/peer.ether.camp/commit/6fd3a140987167e04d74860d9e5516453fb2aa22
@cupuyc, thanks for this finding, works pretty fine!

[2016-08-04 23:45] #442 closed

[2016-08-05 00:08] Nashatyrev commented on #455
@Melvillian Try the following workaround: each `onBlock()` call `BlockchainImpl.flush()`. But I'd recommend doing this only after `onSyncDone()` else this will dramatically decrease the speed of long chain sync

[2016-08-05 00:31] Nashatyrev commented on #459
@amiracam as a workaround try adding the following params to RPC request:
[code]
When implementing I missed the point that those params are optional.
BTW another bug here: should be `gas` instead of `gasLimit`

[2016-08-05 09:15] amiracam commented on #459
no worries and perhaps in real practice I would not have those left out.
I’ll let you know, thanks

--
Charles Monteiro

On August 4, 2016 at 8:31:27 PM, Anton Nashatyrev (notifications@github.com)
wrote:

@amiracam <https://github.com/amiracam> as a workaround try adding the
following params to RPC request:

     "gasLimit": "0x100000",
     "gasPrice": "0x20000000000"

When implementing I missed

[2016-08-05 10:53] Nashatyrev commented on #434
Fixed

[2016-08-05 10:53] #434 closed

[2016-08-05 12:09] prodiptag opened #462 "transaction not signed by user private key while calling constant function"
Why in org.ethereum.facade.EthereumImpl.callConstantFunction(String, Function, Object...)
transactions are signed using below:
tx.sign(new byte[32]);
Lets say you set some value against msg.sender by calling normal function and sign the transaction with your private key. so at contract end, contract store that value against msg.sender in some hashtable (solidity mapping).
Now if you fire callConst

[2016-08-05 14:02] #375 closed

[2016-08-05 14:03] Nashatyrev commented on #462
Closed by accident

[2016-08-05 14:07] Nashatyrev commented on #459
Fixed by https://github.com/ethereum/ethereumj/commit/30102b205142e1f72ab545c3bc3d1459a2aef904
notes:
- default `gas` as specified in RPC doc is 90000. It is not enough for your tx, so you need to set it explicitly
- Now you can view pending transactions receipts (i.e. when they are not mined yet)
- I added extension RPC method `ethj_getTransactionReceipt` which additionally includes error (if tx

[2016-08-05 14:07] #459 closed

[2016-08-05 15:22] amiracam commented on #459
first of all the project that I had downloaded as per Roman was peer.ether.camp, is this fix been applied to that branch/module ?

the contract I published was barely 10 lines l, so u r saying that the "default" will not work for something as basic ? Not questioning , just that it seems that the default is not appropriate.
So I would call the eth_getEstimate method then prior to determine the amou

[2016-08-05 15:33] amiracam commented on #459
FYI, the workaround as provided does not seem to be working, I don't see the transaction count incremented, and yes I did use "gas" instead of "gasLimit"

[2016-08-05 16:55] Nashatyrev commented on #459
This has been fixed in ethereumj core develop. If you are using the develop branch just try to relaunch and gradle should download the latest develop core build

[2016-08-05 16:57] Nashatyrev commented on #459
Try to call ethj_getTransactionReceipt to make sure you are using the right core version

[2016-08-05 17:11] amiracam commented on #459
Specifically , what I had downloaded to run the EthJ RPC as per Roman  was
this:

https://github.com/ether-camp/peer.ether.camp/tree/develop

so I will go ahead and do “gradle run” and then check if the
ethj_getTransactionReceipt is indeed available, thanks

--
Charles Monteiro

On August 5, 2016 at 12:58:03 PM, Anton Nashatyrev (notifications@github.com)
wrote:

Try to call ethj_getTransactionRec

[2016-08-05 17:34] amiracam commented on #459
gradlew run , blew away my accounts on that node, so I added an account and
had it funded, then yes, I do get a receipt based on
ethj_getTransactionReceipt :

Result is:  :

{

  "jsonrpc": "2.0",

  "id": 1,

  "result": {

    "transactionHash":
"0x453db1c1ae0b2acd82b5756d9ef889c22143899c6908cc3a0ef95ae749518ff7",

    "transactionIndex": 0,

    "blockHash": null,

    "blockNumber": 0,

    "c

[2016-08-05 17:36] amiracam commented on #459
Sorry, now I do see the second transaction , I guess there’s a huge latency
that I’m not expecting

--
Charles Monteiro

On August 5, 2016 at 1:34:34 PM, Charles Monteiro (
charles.monteiro@gmail.com) wrote:

gradlew run , blew away my accounts on that node, so I added an account and
had it funded, then yes, I do get a receipt based on
ethj_getTransactionReceipt :

Result is:  :

{

  "jsonrpc": "

[2016-08-05 17:46] amiracam commented on #459
btw, the account is 8f0af1b94d7be557a940b2c3375d2e2f7151399d , I have added
another transaction and it has been successfully recorded, I guess I was a
bit naive about how quickly transactions got recorded

--
Charles Monteiro

On August 5, 2016 at 1:36:13 PM, Charles Monteiro (
charles.monteiro@gmail.com) wrote:

Sorry, now I do see the second transaction , I guess there’s a huge latency
that I’m

[2016-08-08 19:58] Nashatyrev opened #464 "ethstats.net: incorrect totalDifficulty is reported"

[2016-08-10 07:17] ranjan008 opened #465 "Ethereumj miner and DB auto reset"
I am creating an address through jsonrpc but again when i restart the project the addresses are getting lost think the db is resetting even after i have set the reset attribute under database as false and also not able to start the miner is miner implemented yet because my best block is always coming as 0.

[2016-08-10 17:21] Nashatyrev opened #466 "Internal and user listeners receive events on the same EventDispatchThread"
It is better to use a separate thread to deliver EthereumListener events to user added listeners. User listeners may affect internal core consistency if user event handlers are long-running by chance

[2016-08-10 17:24] Nashatyrev opened #467 "More explicit ETH/ETC peers separation"
Need to drop the peers who are on the other side of ETH/ETC by checking 1 920 000 block hash check.
Also we need to add a HeaderValidator which will drop the wrong 1 920 000 block on the sync block downloading stage before it is tried to be imported.

[2016-08-12 00:16] Nashatyrev opened #468 "Miner DAG cache should relate to epoch but not the requested block"
... else a new dag is generated each time:
[code]

[2016-08-12 07:13] adridadou opened #469 "EthereumJ Config Builder"
This issue is an open discussion to something that, I think, could help a lot of people configure their node. This comes from my efforts in https://github.com/adridadou/eth-contract-api and one need I have concerning configuration

Context:
Right now, node configuration is done through a config file (or a string representation of it).
While being very useful, especially if you want to have an exte

[2016-08-12 08:24] #468 closed

[2016-08-12 08:25] chainrui opened #470 "send transaction with ethereumj"
Hi guys,

I would like to send ether from my ethereum address to another one with ethereumj, but could not find any instructions, e.g. like for the go-ethereum - "eth.sendTransaction(from, to, value)".

Thanks :)

[2016-08-12 08:29] mtgran commented on #469
good idea! :+1:

[2016-08-12 08:41] chainrui commented on #452
How to fast sync concretely :)

[2016-08-12 08:49] adridadou commented on #469
True but this is also a nice way to document the configuration too.

[2016-08-12 08:52] Nashatyrev commented on #469
Now the reference config with documentation is here https://github.com/ethereum/ethereumj/blob/develop/ethereumj-core/src/main/resources/ethereumj.conf
It serves both as default values for config and options documentation

[2016-08-12 08:53] adridadou commented on #469
Great! I will do a first version of this ConfigBuilder in my library and I'll let you know how it goes. When it works it can be merged here.

This way if you want to do it another way you are free to do it

[2016-08-12 08:54] Nashatyrev commented on #469
:+1:

[2016-08-12 08:55] adridadou commented on #469
I may ask you some questions here regarding the config :) I see some properties I didn't have a clue were here. You can use Redis??

[2016-08-12 09:18] adridadou commented on #469
Could be nice to have that for genesis.json as well. Is there documentation somewhere on how to write this json file ?

[2016-08-12 10:22] Nashatyrev commented on #470
You may check that sample: https://github.com/ethereum/ethereumj/blob/develop/ethereumj-core/src/main/java/org/ethereum/samples/PendingStateSample.java#L82

[2016-08-12 10:22] #470 closed

[2016-08-12 14:35] Nashatyrev commented on #465
Current JSON-RPC implementation doesn't support keystore.
The Harmony project is on the way which should be full-featured peer: https://github.com/ether-camp/ethereum-harmony/
Stay tuned!

[2016-08-12 14:35] #465 closed

[2016-08-13 09:00] chainrui commented on #470
yes, it works in the testnet :), Thanks. :)
Then how to configure it so that it is capable to send transactions could be included in the main net.
Thanks

[2016-08-16 14:21] #462 closed

[2016-08-16 14:30] Nashatyrev commented on #441
Yep, it worked just because of logging level which invoked `toString()`. Thanks for catching this!

[2016-08-16 14:32] prodiptag commented on #462
@Nashatyrev, Thanks for including this feature. Could you please tell me in which release version will you include this feature?

[2016-08-16 14:51] Nashatyrev commented on #458
Hi @xcthulhu,
do we need a native build on all supported platforms established for that? Or by any chance does a JAR including all the native libs exist?
The worst case I could think of is that the timing attack could help with discovering of NodeID PKey only. This doesn't seem very feasible for an attacker and not too harmful for a node owner. What do you think on this?

[2016-08-16 15:11] Nashatyrev commented on #462
This will be in 1.3.0, which I believe will be published in 2-3 weeks

[2016-08-17 14:49] blmalone opened #472 "Encoding Function arguments for Fixed sized Data types in Solidity"
Hi,

I've noticed a possible issue over the last few days while working closely with ethereumj and solidity data types.

If I pass a function argument that is required to be of a fixed length (i.e. 32bytes - uint256) from the java layer to a function in solidity:

`function addSomething(uint key) onlyBy(owner) returns (bool) {`
    `var myVariable = myArrayOfVariables[key];`
    `return true;`
`}`

[2016-08-17 20:43] #472 closed

[2016-08-18 21:32] adridadou opened #473 "cannot get returned value from a function (non constant)"
Example here : https://github.com/adridadou/eth-contract-api/blob/develop/src/test/java/org/adridadou/TestnetConnectionTest.java

Everytime I catch the transaction in a block from my function call, I get the error: "unknown OP CODE 2b". This is on ether.camp testnet

The same solidity code + call works perfectly with StandaloneBlockchain

[2016-08-23 12:28] xcthulhu commented on #458
BitCoinJ simply vendors libsecp256k1.

From reading the two code bases, EthereumJ `ECKey.java` is a direct port of (an old version of) BitCoinJ's, so you could just rope in their upstream changes.

I doubt this would have much impact on your supported platforms.  I notice you are using SpongyCastle rather than BouncyCastle - does EthereumJ really support Android?

Better safe than sorry, IMO. BitC

[2016-08-23 13:09] kratorado opened #478 "`0x00` RLP encode different from web3.js"
Consider a transaction:
[code]
The `value` here, is '0x00'. And web3.js(ethereumjs-tx) takes the value as an empty string, and encodes it to `0x80`

However, if I use ethereumj to create a same transaction using this snippet,
[code]
The `value` here, 0L will be encoded as `0x00`, which means ethereumj takes it as an int.

[2016-08-30 08:11] zilm13 commented on #478
This bug was fixed by following [commit](https://github.com/ethereum/ethereumj/commit/15c488e5afe63184f32210ca147240b1920d16cc)
You could use snapshot version by adding snapshots repository and dependency. Gradle example:
[code]
Note, that it's development version, and it's not fully tested.
This fix is not in release version yet.

[2016-08-30 14:14] zilm13 commented on #422
Tried to move, looks like gradle handles tckRun from tests #479

[2016-08-30 15:47] kratorado commented on #478
@zilm13  thanks. I'll try it.

[2016-08-30 15:47] #478 closed

[2016-09-01 18:18] #467 closed

[2016-09-02 09:21] csdodd opened #483 "Convert ECDSASignature to hex"
When signing an `ECKey` with a 32 byte keccak hash of data an `ECDSASignature` is returned. I was attempting to convert this `ECDSASignature` to the hex string that is returned when doing `web3.eth.sign` with geth.

I ended up writing code to do this -- did I overlook something in ethereumj, does the ability to do this exist already? If not I am happy to submit a pull request with my code.

[2016-09-02 10:28] Nashatyrev commented on #483
Hi Colin,
can you please post your code here?
I think we currently have some kind of stub for JSON RPC `eth_sign` implementation: https://github.com/ethereum/ethereumj/blob/develop/ethereumj-core/src/main/java/org/ethereum/jsonrpc/JsonRpcImpl.java#L495
Or please make a PR, we would very appreciate!

[2016-09-02 12:54] Nashatyrev commented on #473
Didn't you try to do the same by modifying this sample: https://github.com/ethereum/ethereumj/blob/develop/ethereumj-core/src/main/java/org/ethereum/samples/CreateContractSample.java ?

[2016-09-02 13:13] adridadou commented on #473
So correct me if I'm wrong but you don't use the return value in this test class.
You check if the transaction isFailed for the contract creation but not the function call.

Look at line 73, you just get the receipt and say "contract modified" and move on

[2016-09-02 13:40] Nashatyrev commented on #473
Oh, sorry, missed that point

[2016-09-02 13:53] Nashatyrev commented on #473
Check this modified sample https://gist.github.com/Nashatyrev/6244561e698ff15c9d5ebfa6b592d650
It correctly returns `12` for me

[2016-09-06 04:59] vikulin opened #485 "Full Blockchain sync takes over 24 hours to complete"
Full Blockchain sync takes over 24 hours to complete.

I ran BasicSample and my Blockchain sync very slow with good the Internet connection (>50MBps)

import org.ethereum.samples.BasicSample;

public class App
{

    public static void main( String[] args ) throws Exception
    {

    	BasicSample.main(null);

    }

}

The log:
`07:55:48.299 INFO [sample]  Blockchain sync in progress. Last import

[2016-09-06 05:09] chainrui opened #486 "error when send contract"
Hey,guys
when I send a contract,
It says,There was an unexpected error (type=Internal Server Error, status=500).
Contract compilation failed: <stdin>:1:87: Error: Expected token LBrace got 'Return'...

waiting for help...
Thanks

[2016-09-06 05:39] zilm13 commented on #486
Could you, please, provide more information?
As I understand you are sending contract over JSON-RPC. Could you provide sources of contract, it looks like contract code error.

[2016-09-06 05:41] chainrui commented on #486
sontract source:
contract getString{
    string msg = 'hello';
    function read() constant returns(string){
        return msg;
    }
}

[2016-09-06 05:42] chainrui commented on #486
It is:

contract getString{

    string msg = 'hello';
    function read() constant returns(string){
        return msg;
    }
}

[2016-09-06 05:48] chainrui commented on #486
String contract = "contract getString{" +
                            "string msg = 'hello';" +
                            " function read() constant returns(string){" +
                            "return msg;" +
                            "}" +
                            "}";

when put it in the ethereumj

[2016-09-06 05:58] romanman commented on #485
@vikulin thank for reporting , we recently implemented some
improvements and probably got regression in the simple import,
will take care

@Nashatyrev

[2016-09-06 05:59] zilm13 commented on #486
Here's my call and answer
Request:
[code]
Response:
[code]
Do you log http requests? Does your request look the same?

[2016-09-06 06:29] chainrui commented on #486
It  works in the Geth, but got error in ethereumj

[2016-09-06 06:39] zilm13 commented on #486
What version of EthereumJ are you using?

[2016-09-06 06:43] chainrui commented on #486
core 1.3.0-RC7-RELEASE, any problem here

[2016-09-06 09:06] Nashatyrev commented on #485
@vikulin What version are you using and what platform are you running on?

[2016-09-06 09:09] vikulin commented on #485
@Nashatyrev , I synced latest code from GIT and ran it from exclipse  as I described behind.

BasicSample.main(null);

Linux Ubuntu 16.04 x86_64.

[2016-09-06 10:37] Nashatyrev commented on #485
@vikulin Did you sync from empty DB or you have already some blocks imported? We can probably experience some drawbacks when switching to trie pruning with non-empty DB

[2016-09-06 11:08] zilm13 commented on #486
No, works for me.
@Nashatyrev any ideas what could be the cause of the issue?

[2016-09-06 20:33] Nashatyrev commented on #485
@vikulin Just tried to run the latest version (with pruning) with the DB created by the previous version (without pruning) and shown me the same very slow result. Please try to remove the database folder and reimport the whole blockchain - that worked fine for me (~5-6 hrs for the whole blockchain)
Feel free to reopen the issue if this fails.

[2016-09-06 20:41] Nashatyrev commented on #486
@chainrui Please attach your RPC request

[2016-09-06 20:47] Nashatyrev commented on #425
We need to get back to this issue after resolving the Issue #427 . Most likely the problem will be fixed

[2016-09-06 20:48] Nashatyrev commented on #422
@zilm13 Thanks for PR. I guess we can close this issue?

[2016-09-07 01:57] vikulin commented on #485
You can not just close the issue since user is almost unable to continue blockchain sync after interruption. Reopened.

[2016-09-07 02:01] vikulin commented on #485
You can not just close the issue since user is almost unable to continue blockchain sync after interruption. Reopened.

[2016-09-07 02:02] vikulin opened #487 "Full Blockchain sync takes over 24 hours to complete"
Full Blockchain sync takes over 24 hours to complete.

I ran BasicSample and my Blockchain sync very slow with good the Internet connection (>50MBps)

import org.ethereum.samples.BasicSample;

public class App
{

public static void main( String[] args ) throws Exception
{

    BasicSample.main(null);

}

}

The log:
`07:55:48.299 INFO [sample] Blockchain sync in progress. Last imported block: #146

[2016-09-07 02:02] vikulin commented on #487
I could not reopen #485 so I filled up a new issue here.

[2016-09-07 05:20] vikulin commented on #487
I ran sync from scratch and the issue reproduced. Syncing become very slow.

[2016-09-07 05:21] vikulin commented on #487
@Nashatyrev , please re-open the original issue #485 again.

[2016-09-07 06:14] zilm13 commented on #422
@Nashatyrev sure

[2016-09-07 09:38] Nashatyrev commented on #485
vikulin> I ran sync from scratch and the issue reproduced. Syncing become very slow.

[2016-09-07 09:39] Nashatyrev commented on #485
@vikulin Can you please attach the full `BasicSample` output? Or at least the first ~5000 lines? I mean the output to the console (not logs)

[2016-09-07 09:39] Nashatyrev commented on #487
Reopened

[2016-09-07 09:39] #487 closed

[2016-09-07 09:41] Nashatyrev commented on #485
I mean the output of syncing from scratch. Better the full output.

[2016-09-07 09:42] #422 closed

[2016-09-07 09:51] Nashatyrev opened #488 "Database versioning"
We need to persist the DB version, so after core upgrade we can either reset older incompatible db or make a warning and let the user reset DB manually

[2016-09-07 10:52] Nashatyrev commented on #488
What I think we can do here:
- add config option (smthng like `database.autoResetOldVersion`) which is `false` by default
- when incompatible db version detected:
  - if `autoResetOldVersion` is false just log a big warning and shutdown
  - if `autoResetOldVersion` is true then make DB reset

I don't think we should add any command line interactivity to the core library

[2016-09-07 12:20] Nashatyrev opened #489 "Flush DB on each imported block when on sync"

[2016-09-07 13:58] Nashatyrev opened #490 "Add contract storage pruning"
That will reduce the database size by 5-7Gb approx.

[2016-09-07 14:01] zilm13 commented on #446
Pull request added #491
@Nashatyrev please, take a look.

[2016-09-07 14:08] Nashatyrev commented on #418
We are releasing Harmony soon (aka EtherumJ node), it might be wise to apply your suggestion there. @cupuyc what do you think?
For the pure core library I don't think that makes sense since it's not a final application and it's up to EthereumJ users to choose the right options. For development it's more comfortable I suppose to keep the DB nearby each workspace (you may have several projects which

[2016-09-07 14:40] vikulin commented on #485
I don't want to wait so log time because the sync becomes slower and slower:

12:58:42.351 INFO [sample]  Starting EthereumJ!
12:58:42.644 INFO [general]  Config ( yes ): default properties from resource 'ethereumj.conf'
12:58:42.644 INFO [general]  Config ( no  ): user properties from -Dethereumj.conf.res resource 'null'
12:58:42.645 INFO [general]  Config ( no  ): user properties from resource '

[2016-09-07 14:57] Nashatyrev commented on #485
Yep, it works pretty slow, but it looks like you are using pretty old branch `1.2`. Can you switch to `master` or `develop`?

[2016-09-07 15:07] #446 closed

[2016-09-07 15:25] Nashatyrev opened #492 "Need consistent Spring app context initialization process"
We are having a number of interdependent Spring components which are mostly injected to each other by autowiring and initialized via @PostConstruct methods asynchronously with a number of hacky hooks to maintain desired initialization order.
This way we are periodically hit (after some harmless changes) into situations when autowired fields are not initialized or @PostConstruct methods are execute

[2016-09-07 15:41] vikulin commented on #485
Executed sync for 1.3.0-RELEASE and waiting for completion.

BTW there is NPE:

18:33:35.796 INFO [sync]  Initializing SyncManager.
java.lang.NullPointerException
	at org.ethereum.sync.SyncPool.logActivePeers(SyncPool.java:147)
	at org.ethereum.sync.SyncManager$5.run(SyncManager.java:444)
	at java.util.concurrent.Executors$RunnableAdapter.call(Executors.java:511)
	at java.util.concurrent.FutureTas

[2016-09-07 15:42] Nashatyrev commented on #485
Yep, I saw that already. It's harmless

[2016-09-07 15:44] Nashatyrev opened #493 "NPE after initialization"
Doesn't affect the functionality. Might be related to issue #492

18:33:35.796 INFO [sync] Initializing SyncManager.
java.lang.NullPointerException
at org.ethereum.sync.SyncPool.logActivePeers(SyncPool.java:147)
at org.ethereum.sync.SyncManager$5.run(SyncManager.java:444)
at java.util.concurrent.Executors$RunnableAdapter.call(Executors.java:511)
at java.util.concurrent.FutureTask.runAndReset(Futur

[2016-09-07 16:46] vikulin commented on #485
The 1.3.0 works as well. This bug can be closed now.

[2016-09-07 16:48] #485 closed

[2016-09-08 11:57] vikulin opened #494 "Slow Blockchain Sync process v 1.3.0-RELEASE"
http://m.uploadedit.com/ba3s/147333578174.txt

14:40:52.073 INFO [sample]  Blockchain sync in progress. Last imported block: #2034554 (b1ea17 <~ 9bc271) Txs:0, Unc: 0 (Total: txs: 278, gas: 33783k)
14:41:02.073 INFO [sample]  Blockchain sync in progress. Last imported block: #2034589 (f39f17 <~ cdee36) Txs:5, Unc: 0 (Total: txs: 143, gas: 20760k)
14:41:12.073 INFO [sample]  Blockchain sync in prog

[2016-09-08 14:21] cupuyc commented on #418
I agree with Anton, that database should be near workspace.

In [Harmony](https://github.com/ether-camp/ethereum-harmony) we included your suggestion and storing database at user home.

[2016-09-08 14:42] Nashatyrev commented on #418
Ok, then I'm closing this

[2016-09-08 14:42] #418 closed

[2016-09-08 17:56] Nashatyrev opened #496 "Add installed solc path to config as alternative to bundled solc"

[2016-09-08 18:01] Nashatyrev opened #497 "Stop trying importing when 'No Parent' error"
'No Parent' means that something went really wrong when importing a block from the main chain and this error may be assumed unrecoverable

[2016-09-08 18:04] Nashatyrev opened #498 "Add GPU miner implementation"

[2016-09-08 22:19] Nashatyrev commented on #423
Keystore is now in the Ethereum Harmony project: https://github.com/ether-camp/ethereum-harmony
Welcome to test!

[2016-09-08 22:19] #423 closed

[2016-09-09 06:06] vikulin opened #499 "Duplicated threads in SendTransaction.java"
09:02:30.757 INFO [general]  Starting EthereumJ...
09:02:34.556 INFO [general]  Config ( yes ): default properties from resource 'ethereumj.conf'
09:02:34.556 INFO [general]  Config ( no  ): user properties from -Dethereumj.conf.res resource 'null'
09:02:34.556 INFO [general]  Config ( no  ): user properties from resource 'user.conf'
09:02:34.557 INFO [general]  Config ( no  ): user properties fro

[2016-09-09 06:19] vikulin commented on #499
I run https://github.com/ethereum/ethereumj/blob/develop/ethereumj-core/src/main/java/org/ethereum/samples/SendTransaction.java

[2016-09-09 07:46] cupuyc commented on #483
For note `ECKey` operates with base64 encoding to convert bytes to string. Then it is possible to use next snippet to convert to hex:
[code]
NOTE: That implementation may not match other ethereum nodes result.

@csdodd Could you please paste your code and let me know how do you use hex string or test it.

[2016-09-09 10:56] Nashatyrev commented on #494
Yep, indeed looks really slow.
What's you platform? (Arch, OS, RAM, disk)
Sync performance is pretty sensitive to DB operations so we were observing similar behavior on either machines with slow disk or machines with tight RAM restrictions (DB files are poorly cached)
Also try to run the sample with -Xmx2G (`./gradlew -PjvmArgs="-Xmx2G"`), there is chance that you have speed degradation due to con

[2016-09-09 10:58] Nashatyrev commented on #494
And please double-check you were syncing from the empty DB on `1.3.0`

[2016-09-09 14:45] Melvillian commented on #455
My pull request at https://github.com/ethereum/ethereumj/pull/482 handles issue manually, or the commit at https://github.com/ethereum/ethereumj/commit/11c3e8832a57b30f99f30d232bbd5d0646a0f23e handles it in an automated fashion

[2016-09-09 15:04] zilm13 opened #500 "logsBloom doesn't match for some blocks"
At least one block found: 1722681 on Main
block's logsBloom:
[code]
ethereumj calculation
[code]
Probably the issue is in bad logsBloom for tx 0xe0298b38dd2ff455c84585bb5acf0d6342aec147e87bf6b409f2fc5b86e082b8

[2016-09-09 15:37] vikulin commented on #494
Yes, I synced from empty DB:

Linux Ubuntu 16.0.4 x86_64, 8GB RAM, 1TB disk
Java 1.8
Trying with  Xmx settings

[2016-09-09 16:07] zilm13 opened #501 "txTrieHash check fails"
As it's commented, probably it fails on some block.
https://github.com/ethereum/ethereumj/blob/develop/ethereumj-core/src/main/java/org/ethereum/core/BlockchainImpl.java#L679-L684
Should be fixed.

[2016-09-09 23:49] a7ex12 commented on #499
Fix with #502

[2016-09-10 05:51] Melvillian commented on #497
We are getting this error all the time, usually after a "DBException - Closed" error from get org.ethereum.datasource.LevelDbDataSource.get, or from a mismatch between the Block receipt, logBloom, or state variables. We have a monit process set up to watch for such log lines and reboot the process if they appear, but ethereumJ is close to unusable when it silently stops working with these "No pare

[2016-09-11 09:46] gitexperience commented on #344
@Nashatyrev
I'm also getting the same error . Here is my gradle file :-
/*
 * This build file was auto generated by running the Gradle 'init' task
 * by 'mbhooshan' at '8/1/16 11:18 PM' with Gradle 2.13
 *
 * This generated file contains a sample Java project to get you started.
 * For more details take a look at the Java Quickstart chapter in the Gradle
 * user guide available at https://docs.gra

[2016-09-11 19:03] cupuyc commented on #488
Info for thinking and later discussing:

1. What should be behavior if user run old core vs newer database? I suppose reset logic should also take place and property could be renamed to `autoResetIncompatibleVersion`.

2. I store database version under `${databaseDir}/version.properties` as numbers:
`databaseVersion = 1`
Same line is put to `src/main/resources/version.properties`

3. Supposing we

[2016-09-12 09:40] #489 closed

[2016-09-12 09:42] Nashatyrev commented on #488
1. Ok
2. Ok
3. Let's assume `databaseVersion = 1` and the absence of `${databaseDir}/version.properties` is the same. So reset logic will take place only when we upgrade `databaseVersion` to `2` What do you think?

[2016-09-12 10:42] Nashatyrev opened #505 "Wrong current block number/hash when executing pending tx"
@oscarguindzberg wrote:
 I think there is a problem now executing txs on PrendingStateImpl. TransactionExecutuor

It builds a TransactionExecutor and supplies the best block.
Then TransactionExecutor calls programInvokeFactory.createProgramInvoke(..., currentBlock (aka bestBlocl), ....)
This creates a ProgramInvoke with:

    getNumber(): block number of the best block
    getPrevHash(): block has

[2016-09-12 10:47] Nashatyrev opened #506 "Broadcast pending txs from other peers"
We are currently broadcasting only own submitted transactions.
There are rules for tx broadcasting:
- broadcast only validated txs (i.e. those included to `PendingState`)
- don't resend back txs to peers they were received from

[2016-09-12 10:51] cupuyc commented on #457
Plan of work:
 - find cases when LevelDB could be corrupted;
 - verify LevelDB `batchUpdate` consistency when terminated with `SIGRTERM` & `SIGKILL`;
Note that behavior could be different depending on OS platform.

[2016-09-12 10:51] Nashatyrev opened #507 "Broadcast new blocks"
We need to broadcast newly imported blocks.
I think we need broadcast new blocks only after successfully importing them (i.e. not just resend `NewBlockMessage` & `NewBlockHashesMessage`)
Geth broadcasts the new block the following way:
- takes a random 30% set of its peers and sends them `NewBlockMessage`
- sends other peers `NewBlockHashesMessage`

[2016-09-12 11:05] #499 closed

[2016-09-12 11:25] Nashatyrev commented on #497
@Melvillian I hope we will shortly get rid of `DBException - Closed` problems after fixing https://github.com/ethereum/ethereumj/issues/427
We also working now on https://github.com/ethereum/ethereumj/issues/431
Let's get back to your problems after resolving those issues. It's pity to hear you get those errors constantly. On our servers they are not appearing mostly (with a couple of rare excepti

[2016-09-12 11:31] Nashatyrev commented on #344
@gitexperience Please upgrade to the latest release version:
`compile 'org.ethereum:ethereumj-core:1.3.0-RELEASE'`

[2016-09-12 15:29] Nashatyrev opened #508 "Make Genesis.json file values reading compatible with other clients"
EthJ and Geth treats some values in the Genesis.json file differently.
Need to check values like `0x`, `0x0`, `0x00` in different fields
Geth also accepts values with odd number of hex letters adding one leading `0` if required
Also need to check if the fields with amount of leading zeroes are treated equally (like `0x0000000000000042`)

[2016-09-12 17:02] zilm13 commented on #496
Please, take a look #509

[2016-09-13 01:43] martintreurnicht opened #510 "java.lang.NumberFormatException: Zero length BigInteger when performing callConstantFunction on contract"
I'm running a private chain based of https://github.com/ethereum/ethereumj/blob/develop/ethereumj-core/src/main/java/org/ethereum/samples/PrivateMinerSample.java
Since `1.3.0-RELEASE` i'm getting the following error:

[code]

Further investigation shows that when performing `ethereum.repository.getBalance()` for the contract address returns a ByteArray with a single value of 1, ie `[ 1 ]`.

Furthe

[2016-09-13 05:29] zilm13 commented on #500
@Nashatyrev please, take a look #511

[2016-09-13 07:07] cupuyc commented on #497
@Nashatyrev For me, `No parent` error happened when I switch networks and use same database directory. Can we protect database in that case?

[2016-09-13 07:30] csdodd commented on #483
I have created a pull request here: https://github.com/ethereum/ethereumj/pull/512
I am going to close this issue and we can instead continue the conversation there. It may be the case that my code is redundant and there exists code already to achieve what I am attempting.

[2016-09-13 07:30] #483 closed

[2016-09-13 07:39] zilm13 commented on #457
@cupuyc I guess signals and thing like this are handled in LevelDB library (and should)
We could try something like this:
1) repair DB with .repair() function
2) rollback everything 1000 blocks behind or for pruned DB maximum possible number for which we have all data (192?)
I've tried to research it, but accidentally deleted DB repaired from corruption. Btw, after repair db failed to open with LO

[2016-09-13 09:14] Nashatyrev opened #514 "Add ability to specify arbitrary file for genesis in config"
Currently you can set the resource file only

[2016-09-13 09:41] #500 closed

[2016-09-13 09:47] Nashatyrev commented on #497
@cupuyc Good proposal. We may think on this protection later

[2016-09-13 09:50] splix commented on #457
Sorry, I didn't make a PR for this as I didn't think my quick fix was tested enough and it doesn't include any integrity check.

But I'll put it here, just as a reference, hope it will be useful. _ethereumj-core/src/main/java/org/ethereum/datasource/LevelDbDataSource.java_:
[code]

[2016-09-13 10:30] zilm13 commented on #508
Please, take a look #515

[2016-09-13 12:34] #488 closed

[2016-09-13 15:20] Nashatyrev commented on #508
@zilm13 Can you please check the genesis mentioned here as well: https://gitter.im/ethereum/ethereumj?at=56e0d739618c335373ea6ed1
The genesis block hash differs between Geth & EthereumJ

[2016-09-13 16:33] zilm13 commented on #508
@Nashatyrev Pushed update

[2016-09-13 16:58] Nashatyrev commented on #508
@zilm13 Can you please also check the nonce `0x00` results in the same hash for both EthJ and Geth?

[2016-09-13 17:01] zilm13 commented on #508
Unchanged in both.
Add case in BlockTest?

[2016-09-13 17:03] Nashatyrev commented on #508
Cool! Yep, another one test is always welcomed :)

[2016-09-13 17:50] #508 closed

[2016-09-13 17:53] Nashatyrev commented on #473
@adridadou Please feel free to reopen if this is EthJ issue

[2016-09-13 17:53] #473 closed

[2016-09-13 17:55] Nashatyrev commented on #455
@Melvillian thanks for feedback. Closing this then

[2016-09-13 17:55] #455 closed

[2016-09-13 17:57] Nashatyrev commented on #390
If you are still observing this problem please feel free to reopen

[2016-09-13 17:57] #390 closed

[2016-09-13 17:58] fmurialdo commented on #510
This has been fixed in commit `bd60cc1ea8f456c84f37f29710ff2390d6b93441` on Sept 9th

What leads to this error in 1.3.0-RELEASE is the following:

EthereumImpl.java:310
  `Transaction tx = CallTransaction.createCallTransaction(0, 0, 100000000000000L,
               receiveAddress, 0, function, funcArgs);`

The second argument is the gasPrice

`longToBytesNoLeadZeroes(gasPrice)` converts 0 into emp

[2016-09-13 17:59] Nashatyrev commented on #316
`PendingTransactionImpl` has been refactored, so I believe this concrete bug should be gone. Feel free to reopen if still exists

[2016-09-13 17:59] #316 closed

[2016-09-13 18:11] Nashatyrev commented on #510
@martintreurnicht I believe it is not reproducible with `VM = ERROR` log level?
We will include the fix @fmurialdo mentioned to the next hotfix release (`1.3.1`)

[2016-09-13 18:14] martintreurnicht commented on #510
@Nashatyrev I'm looking at this now. I believe the `develop` should solve my problem. I will test and confirm

[2016-09-13 18:19] martintreurnicht commented on #510
@Nashatyrev i can confirm that this is working on `develop`, looking forward to `1.3.1` release 👍

[2016-09-13 18:21] #510 closed

[2016-09-13 18:24] Nashatyrev opened #517 "State Trie is broken most likely due to some concurrency issue"
Other peers imported this block fine. Probably some thread racing between SyncThread and PendingTransactions processing
[code]

[2016-09-13 18:29] Nashatyrev commented on #517
[ethereum-2016-09-12_07.0.zip](https://github.com/ethereum/ethereumj/files/470524/ethereum-2016-09-12_07.0.zip)

[2016-09-14 06:28] zilm13 commented on #493
From my research, null peer cannot be added to activePeers in SyncPool. So the only cause of the issue - null channelManager. We cannot guarantee that autowiring is complete when it's done by setters added in reflection, the only way to guarantee it is to move @Autowired to constructor. Other option is to check it in every method, but it's really bad approach.

[2016-09-14 06:32] zilm13 commented on #492
We could make @Configuration class for it and expose them as Beans
http://docs.spring.io/autorepo/docs/spring/4.1.3.RELEASE/javadoc-api/org/springframework/context/annotation/Bean.html
It will give all needed control like dependsOn on and will not be messed among many classes.

[2016-09-14 08:15] #496 closed

[2016-09-14 09:53] Nashatyrev commented on #492
Unfortunately (if I'm not mistaking) the `dependsOn` doesn't affect `@PostConstruct` methods execution order.

[2016-09-14 09:54] Nashatyrev commented on #492
I believe Spring automatically builds dependency graph based on injected fields, so `dependsOn` doesn't help much

[2016-09-14 10:18] zilm13 commented on #492
Yeah, but sometimes it has difficulties when building this graph, like in cases when build of the same version runs correctly on most systems and fails to be constructed on others.

I mean to use it in conjunction with @Autowired constructors and throw out postConstruct methods. The only thing I don't like in such approach is the number of constructor parameters and lines like `this.bean = bean;`;

[2016-09-14 14:00] zilm13 opened #518 "Not fatal RLPList cast error"
Getting this error from time to time:
[code]

rlpEncoded block example:
[code]

`block.get(1)` is RLPItem in this case with byte[0] payload

[2016-09-14 15:32] cupuyc commented on #457
@Nashatyrev I wasn't able to produce corrupted DB on linux with big batch write.
I used Ubuntu 15 Desktop in VirtualBox. Full levelDB database size 1.3GB. I terminated process with `SIGKILL` and power off.

[2016-09-15 13:20] zilm13 commented on #492
Please, take a look PR #520

[2016-09-15 13:20] zilm13 commented on #493
Please, take a look #520 . It should eliminate this issue.

[2016-09-15 15:03] zilm13 commented on #518
@Nashatyrev
I'm not sure that we should do anything with it:
- message is incorrect, it should have empty list `0xc0`, but has`0x80` in txTransactions
- it's not the place of responsibility for RLP decode of message . Maybe this message shouldn't be decoded in the end, who knows it in MessageCodec?
- error is thrown only when `net` logger `DEBUG` is enabled

What do you think?

[2016-09-16 14:52] Nashatyrev opened #521 "ContractDetails trie is broken when accessing concurrently"
[code]

Reproducible with `org.ethereum.db.RepositoryTest#testMultiThread`

Similar to issue #517 but has very different origin

[2016-09-16 14:58] Nashatyrev commented on #521
Resolved with commit https://github.com/ethereum/ethereumj/commit/9d0ea48c7fa5ace60e7b98fdb4d718535b23c01f

[2016-09-16 14:58] #521 closed

[2016-09-16 15:39] Melvillian commented on #494
@jlopp and I are also seeing slow block loading times, which get slower as the indexer continues to run. We are now trying with the -Xmx=2G option.

System Info:
Linux Ubuntu 14.04 x86_64
Java 1.8
120GB disk
8G RAM

[2016-09-17 14:12] zilm13 commented on #431
Fixed in #523

[2016-09-17 14:12] zilm13 commented on #501
@Nashatyrev
Fixed earlier or in #523

[2016-09-18 05:51] a7ex12 opened #524 "No parent on the chain for block.number"
I have problems with my dbs since yesterday. I got "No parent on the chain for block.number" on my server and my local ethereumj and apps with ethereumj-core dependency.

I synced from scratch and got it ready today and it worked until i tried to run app with ethereumj-core dependency with path to my db dir. I removed all dbs again and started sync from scratch again and this time i got errors on

[2016-09-18 08:37] zilm13 commented on #524
Could you, please, check, whether the issue remains with release version? There were many changes and fixes after RC-7.
You could add it like this:
[code]

[2016-09-18 08:58] a7ex12 commented on #524
I always used "compile ("org.ethereum:ethereumj-core:latest.release")" in my apps, also tried "compile ("org.ethereum:ethereumj-core:1.3.0-RELEASE")" today that is the same as i understand

[2016-09-18 10:17] zilm13 commented on #524
Oh, I get it: first crash was on RC7, but all others on RELEASE, so both builds have problem. We'll make a research and ping you back when fix is available.

[2016-09-19 12:55] zilm13 commented on #506
Please, take a look at #526

[2016-09-19 15:20] zilm13 commented on #507
Please, check #527

[2016-09-19 15:31] zilm13 commented on #517
I'm getting same error with latest develop both on MainNet and Morden.
And not getting it when running `feature/refactor-init-sequence` with same DB.

[2016-09-20 12:07] zilm13 commented on #406
I've made such test and don't see that it's blocking:
[code]
Of course, if you have long task in Blockchain, it will block other synchronized Blockchain methods, but as you said in commit by adding synchronized there, you need consistency of state and blocks. So, what's the goal? If we need to get rid of blocking in BlockchainImpl in that case, it's local BlockchainImpl issue not connected with Et

[2016-09-21 15:50] kivanov82 commented on #524
Was having "No parent on the chain for block.number" for a day and finally figured out that I got it once added "play.vm = false" into the config.
Problem has gone after I dropped it.
Cannot explain it though.

[2016-09-22 01:08] a7ex12 opened #529 "WARN [net] Can't decrypt AuthInitiateMessage"
If you have "Can't decrypt AuthInitiateMessage" warnings like below:

[code]

Fix it with changing peer listen.port from default 30303 to other. (I had this problem on my remote ubuntu 14.04.5 server to fixed it with changing port to 30304)

[2016-09-22 01:08] #529 closed

[2016-09-22 05:39] cheershendtco commented on #320
May I use
`./gradlew runMorden -PmainClass=org.ethereum.samples.PrivateMinerSample`
`./gradlew runMorden -PmainClass=org.ethereum.samples.TestNetSample`
to run these sample that mentioned by README.md
in testnet(Morden)

does the testnet blockchain must sync complete and the sample can start to work

[2016-09-22 06:11] zilm13 commented on #320
@cheershendtco
All samples overrides default config either from config Bean exposed in sample itself or from `TestNetSample` inheritance, so you need to create your own sample with either disabled config Bean (this way you'll use config from runMorden), or config modified for your own needs.

I don't see any logic in `TestNetSample`, so it'll do just synchronization. Some samples need full sync be

[2016-09-22 08:19] cheershendtco commented on #320
@zilm13 Thanks for replying.I am new here please let ask more detail.
take `TestNetConfig` in `TestNetSample.java` for example
there is a line `"database.dir = testnetSampleDb \n" +`
will it overrides default config (which is ethereumj-develop/ethereumj-core/src/main/resources/ethereumj.conf)
Let`s say I have my default config like this
[code]
after I run TestNetSample , it will start a node
and
`

[2016-09-22 08:37] zilm13 commented on #320
@cheershendtco
yeah, it will use values from config you've exposed with bean, so it will put test db in testnetSampleDb, use test genesis and id of network which identifies TestNet (161).

You could comment this line https://github.com/ethereum/ethereumj/blob/develop/ethereumj-core/src/main/java/org/ethereum/samples/TestNetSample.java#L48 and it will use default config, morden config, for example,

[2016-09-22 17:41] Melvillian commented on #524
@kivanov82 If you set "play.vm = false" then it looks like none of the EVM code will actually get run. If `play.vm` is set to false then `vm.play(Program program)` never gets called.

[2016-09-22 17:43] Melvillian commented on #524
@zilm13 I'm also seeing this, mostly on morden, and it's making EthereumJ unusable. Since at any moment it's possible the DB will get corrupted with this

`java.lang.RuntimeException: Invalid Trie state, missing node c3f1a52b3e6dfc558990519aa8d3350d8edb3bb29d0bc8031aa1fff0369c4f9a
    at org.ethereum.trie.TrieImpl.delete(TrieImpl.java:328)`

error, we have to keep multiple machines syncing their o

[2016-09-22 18:55] ewiner commented on #524
Same here, all our morden nodes have failed with that `Invalid Trie state` error, followed by `No parent on the chain` error - all at different times and at different block heights.

[2016-09-25 00:23] a7ex12 opened #531 "Can't pass 2283415 block"
[code]

Tried to sync from scratch 2 times.

[2016-09-26 15:02] Nashatyrev commented on #406
@ewiner wrote: The effects of the recent DoS attacks on geth. EthJ has stayed running through those attacks, but it had trouble finding peers when geth first died (couldn't connect to Parity), and it was taking a few minutes to import some of the more troublesome blocks on Friday, which would be fine except it's holding some sort of locks, so making calls to things like getBestBlock() was taking a

[2016-09-26 15:43] Nashatyrev commented on #427
https://github.com/ethereum/ethereumj/commit/d403dd079ce269bff3a1850a278017493385c519

[2016-09-26 15:43] #427 closed

[2016-09-26 16:32] Nashatyrev commented on #531
@a7ex12 what branch/revision are you running on?

[2016-09-26 18:54] Nashatyrev opened #532 "Refactoring: Eliminate code duplication from SolidityType and CallTransaction inner classes"
The `SolidityType` class was forked from the `CallTransaction` code at some point.
Normally all the fixes were made to the `CallTransaction` class so need to carefully pick all the changes made to `CallTransaction` since the fork and apply them to `SolidityType`. Then remove the inner `CallTransaction` classes

[2016-09-26 18:55] Nashatyrev commented on #532
Relates to #530 PR

[2016-09-26 19:02] Nashatyrev commented on #524
Guys, yep we all see that problem as well. Now I'm testing the fix and will hopefully release the `1.3.1` shortly.

[2016-09-27 04:37] a7ex12 commented on #531
I run spring boot app with "org.ethereum:ethereumj-core:1.3.0-RELEASE" dependency

[2016-09-27 07:22] #517 closed

[2016-09-27 09:51] #457 closed

[2016-09-27 10:57] zilm13 opened #534 "Skip parameter of GET_BLOCK_HEADERS is handling incorrectly"
In Geth and Parity `Skip` param is treating as a number between consecutive headers, so when you ask for block headers with params:
[code]
you'll get [1000. 1016, 1032, 1048, 1064] blocks.
Instead of this we will send [1015, 1016, 1017, 1018, 1019].
Also verification of answer for such request should be checked to not fail after.

[2016-09-27 10:59] Nashatyrev commented on #534
Are not we checking the response? Normally we should validate, see the wrong response and drop the peer

[2016-09-27 11:00] zilm13 commented on #534
I mean we should verify answer with skip parameter involved like it will be handled after fix.

[2016-09-27 11:34] Nashatyrev opened #535 "DetailDataStore: contract storage keys takes too much space for large contracts"
While large contract storage trie is saved in a separate `DataSource` and its values are retrieved/stored to DB on demand the keys set is still serialized/deserialized fully within `ContractDetailsImpl` and could take up to 50Mb of RAM per large contract.
Taking into account the latest DoS attack where the contract call EXTCODECOPY for all large contracts, all cached ContractDetails took significa

[2016-09-27 17:47] zilm13 commented on #534
Take a look at #537

[2016-09-27 18:18] Nashatyrev commented on #531
Can you please try the `1.4.0-SNAPSHOT`? But you should sync from scratch

[2016-09-28 02:13] cheershendtco commented on #524
how do I compile latest.release
modify  build.gradle
[code]
to
[code]

I do so and I got
[code]

[2016-09-28 06:53] #514 closed

[2016-09-28 07:52] a7ex12 commented on #531
There is no 1.4.0-RELEASE in http://dl.bintray.com/ethereum/maven repo. I'm trying to build it locally from ethereumj develop now. Please advice when http://dl.bintray.com/ethereum/maven will be updated?

[2016-09-28 07:58] Nashatyrev opened #539 "Need more flexible caches policy"
Due to EXTCODE\* DoS attack we now need at least `-Xmx2500M` (-Xmx2G is not sufficient) to pass the blocks with attacker txs (~2287000 - ...).
Since the attack contract calls EXTCODE\* for all large contracts we are storing them in the cache until the next `flush`. Major mem consumption is due to issue #535
Together with mentioned issue the cache should be more flexible on releasing the resources

[2016-09-28 08:02] Nashatyrev commented on #524
Guys, you may try the following fixes
https://github.com/ethereum/ethereumj/commit/7f2e78b91948d6ae1fee8ef8dcbacaeb2d8dee0d
https://github.com/ethereum/ethereumj/commit/9d0ea48c7fa5ace60e7b98fdb4d718535b23c01f

[2016-09-28 08:03] Nashatyrev commented on #524
If everything is fine we will make `1.3.1` release

[2016-09-28 08:57] #534 closed

[2016-09-28 10:02] Nashatyrev commented on #534
Need this fix in the nearest release sine we may lack peers due to this error as almost all Geth peers were updated to the latest release

[2016-09-28 11:08] Nashatyrev opened #540 "After DB reset no database/version.properties created"
... and the DB is reset again on the next run

[2016-09-28 14:48] Nashatyrev commented on #540
Please check the RESET case when no `version.properties` file was in the `database` dir

[2016-09-28 18:27] Nashatyrev commented on #506
One more thing: once a new peer is connected we should transfer all the pending txs to it. I believe this how the `geth` peer functioning.
This case is visible when in `BlockTxForwardTest` one peer loose connection and then reconnects. After reconnect all pending txs are lost

[2016-09-29 08:23] Nashatyrev commented on #524
Duplicates #517 and #521

[2016-09-29 08:23] #524 closed

[2016-09-29 08:31] Nashatyrev commented on #540
Fixed with https://github.com/ethereum/ethereumj/commit/7c1fff706897c5b818d3e40b37e92fa54571fb8d

[2016-09-29 08:31] #540 closed

[2016-09-29 08:39] Nashatyrev commented on #490
Implemented on https://github.com/ethereum/ethereumj/commit/750d42836bb69caf7c5d21bd1c449c0b832ba996

[2016-09-29 08:39] #490 closed

[2016-09-29 08:43] Nashatyrev commented on #518
That's probably buggy peer implementation. I never saw this error in logs, so let's assume this is just incorrect message encoding. We shouldn't decode it.

[2016-09-29 08:43] #518 closed

[2016-09-29 08:43] Nashatyrev commented on #531
Hey @a7ex12, any updates on this?

[2016-09-29 08:44] #501 closed

[2016-09-29 08:45] #486 closed

[2016-09-29 08:49] Nashatyrev commented on #425
Thanks for detailed description!
Shouldn't be reproducible any more:
- no open/close db any more ( #427 )
- `DetailsDataStore` is now synchronized

[2016-09-29 08:49] #425 closed

[2016-09-29 08:53] Nashatyrev commented on #416
Sorry, we have officially supported platforms and limited resources to debug such build issues on other platforms.
Anyway if you find the reason and make a fix we will be happy to merge your PR!

[2016-09-29 08:53] #416 closed

[2016-09-29 08:53] #413 closed

[2016-09-29 08:54] #431 closed

[2016-09-29 12:19] a7ex12 commented on #531
I tried use my synced db from 2 apps, idea gradle app and spring boot app.

1) gradle app results:
[code]

[2016-09-29 12:23] zilm13 opened #543 "Possible racing with parse/encode in BlockBodiesMessage and similar classes"
Usually we have lazy parsing like this:
[code]
Line ` if (!parsed) parse();` appears in several methods and could be called in several threads.
Recommended fix:
[code]

[2016-09-29 12:49] a7ex12 commented on #531
And now I'm trying to sync from 1.4.0-SNAPSHOT again and also see same problems:
[code]

[2016-09-29 13:01] a7ex12 commented on #531
seems 1.4.0-SNAPSHOT started after some time:
[code]

[2016-09-29 13:03] a7ex12 commented on #531
seems have only 1 peer active anyway

[2016-09-29 13:22] cupuyc opened #544 "Eliminate System.exit usage"
There are several places where we use System.exit to break working flow. As we proposing to use ethereumJ as library, we should avoid such dangerous action.

We can replace exit with throwing exception. After change need to ensure that:
 - samples works fine;
 - harmony works fine.

[2016-09-29 13:24] a7ex12 commented on #531
I waited for my gradle app with 1.3.1-RELEASE and my 1.4.0-SNAPSHOT db path and got:
[code]

Seems problem using 1.4.0-SNAPSHOT db from app with 1.3.1-RELEASE dependency.

Will try to sync 1.3.1-RELEASE app from scratch now to try to pass 2283415

[2016-09-29 13:32] Nashatyrev commented on #531
@a7ex12 `1.4.0-SNAPSHOT` and `1.3.*` DBs are not compatible so the latest error should take place

[2016-09-29 15:48] #532 closed

[2016-09-29 15:49] #544 closed

[2016-09-29 16:33] chris-martin commented on #416
What are the officially supported platforms?

[2016-09-29 17:28] Nashatyrev opened #546 "On a clean WS database ask for RESET"
[code]
results in
[code]

[2016-09-29 21:49] ajunge commented on #421
I'm trying to capture contract events. Is there a sample of how to do it with JSON RPC now?

[2016-09-29 22:02] Nashatyrev commented on #531
Try to switch logger settings `discover = TRACE` wait for e.g. 10 mins and post the log entry here:
[code]
There is some mess after DoS attack, and our discovery should probably be more intelligent

[2016-09-29 22:12] Nashatyrev opened #550 "Discovery reputation should reflect networkID, available protocols and fork indicator"
According to discovery stats there are many nodes with high reputation which are not suitable for our peer like:
- Parity nodes which support only Eth63
- Nodes with other NetworkID
- Nodes from the other fork side
- Also the nodes which are `TOO_MANY_PEERS` should be temporary banned for reconnection

[2016-09-30 03:34] cheershendtco commented on #320
according to mtgran`s comment

geth --testnet --verbosity 1 --port 30303 --rpc --rpcport 8400 --rpcaddr localhost --rpccorsdomain "*" --mine --unlock 0 console

should I run geth before I run ethereumj?

[2016-09-30 05:35] zilm13 commented on #320
@cheershendtco You don't need geth for this sample. There was original issue a year ago with no Morden genesis in resources, but it's currently included in package.

[2016-09-30 08:29] #451 closed

[2016-09-30 09:28] #492 closed

[2016-09-30 09:29] Nashatyrev commented on #493
Resolved with #492

[2016-09-30 09:29] #493 closed

[2016-09-30 09:33] Nashatyrev commented on #453
I hope that problem should cease after fixing #427
Feel free to reopen if still reproducible on the latest SNAPSHOT

[2016-09-30 11:14] #505 closed

[2016-09-30 13:51] zilm13 commented on #507
@Nashatyrev
Please, take a look at #551

[2016-09-30 13:51] zilm13 commented on #506
@Nashatyrev
Please, take a look at #551

[2016-10-01 22:06] Gustav-Simonsson opened #552 "org.ethereum.crypto.ECKeyTest testSunECRoundTrip fails on new Linux build"
ethereumj version: 1.3.1
OS: Ubuntu 16.04.1 LTS
[code]

`850 tests completed, 1 failed, 98 skipped`

Is this due to lack of proprietary provider? I guess in that case the build should skip the test or otherwise fail gracefully if it's missing?

Stack trace:
[code]

[2016-10-02 04:20] Gustav-Simonsson opened #553 "ethereumj log prints partial lines"
[code]

If ethereumj would log line-by-line it would be much easier to use standard unix tools on it's logs.

[2016-10-03 01:50] romanman commented on #553
@Nashatyrev we break lines sometimes strange to see it in the BEST import output.

[2016-10-03 09:00] romanman commented on #416
@chris-martin : we have level db as native bridge ,
so we support the more popular Linux versions in that stage

[2016-10-03 09:27] cheershendtco commented on #473
@Nashatyrev
I use https://gist.github.com/Nashatyrev/6244561e698ff15c9d5ebfa6b592d650
and modify few lines
`public class CreateContractSample extends MordenSample {`

[code]

[code]
[code]
`17:18:36.631 INFO [sample]  <=== Sending transaction: TransactionData [hash=  nonce=102572, gasPrice=04a817c800, gas=2dc6c0, receiveAddress=66e536a4b3f5660ff0f38e21b33467dceb5ef88e, value=01, data=6060604052610

[2016-10-03 09:28] adridadou commented on #473
FYI, my error was that I haven't set the from address when I was calling the smart contract. It is all good if you create one but not when you call it

[2016-10-03 13:30] cupuyc commented on #553
@Gustav-Simonsson Line you mentioned, is printed as single line:
[code]
Then it must be flushed as single line as well. I suppose there are could be rare cases with partitial line, when process forced to quite.

I noticed you use screenlog log. Maybe it causes issue? You could also use `tail -n 2 logs/ethereum.log`

Are you just monitoring logs or building logic on top of logs output?

[2016-10-03 13:52] #552 closed

[2016-10-03 15:22] zilm13 commented on #473
@cheershendtco
You cannot deploy contract to specific address. You should send it to null address like in sample, and you will get its address in `TransactionReceipt`. Also make sure that your from address has enough funds for it.

[2016-10-03 17:11] zilm13 commented on #550
I'll take this.
As for Parity, it could present itself only as 63 or 64: https://github.com/ethcore/parity/blob/master/sync/src/chain.rs#L355
It doesn't request any V63 data, here's its handler for incoming messages: https://github.com/ethcore/parity/blob/master/sync/src/chain.rs#L1518-L1541
And it never had logic for it since first version, there are no request methods for them.
But it could answ

[2016-10-03 17:34] Nashatyrev opened #555 "Parity connectivity"
Can't connect to Parity when it reports supported versions `Eth62, Eth63`
When trying to connect the Parity sends the `[STATUS]` message with `Eth63` but looks like we can send `Eth62` and successfully communicate. This can be workarounded by commenting this condition:
https://github.com/ethereum/ethereumj/blob/develop/ethereumj-core/src/main/java/org/ethereum/net/eth/handler/Eth62.java#L248
Thoug

[2016-10-03 17:34] Nashatyrev commented on #555
Used this cmd to run the Parity:
[code]

[2016-10-04 04:48] cheershendtco commented on #473
@adridadou @zilm13
Thanks a lot.
I just CreateContractSample and I got

[code]

[2016-10-04 05:02] zilm13 commented on #473
Here's your contract https://morden.ether.camp/account/da183a2cbd6f5301f5ec87bed6feb863412cb173
Great!

[2016-10-04 05:08] cheershendtco commented on #473
@zilm13
Thanks a lot !

[2016-10-04 07:20] cheershendtco opened #556 "How do I exit program after SendTransaction"
Hi
I use this sample to sand a transaction
https://github.com/ethereum/ethereumj/blob/db0654881c7ebb5411abf5702d14d63f6fe2fcbb/ethereumj-core/src/main/java/org/ethereum/samples/SendTransaction.java

after I see the log `Transaction included!`
it means that I sync finish to the block number that include my Transaction.
how can I exit program at that time.

I want to have a function or an object .
I

[2016-10-04 07:45] cupuyc commented on #556
It looks like more Java related question. You can exit program with `System.exit(0);`

If you need to define some send transaction method, you could submit transaction without waiting for processing result:
`Transaction tx = new Transaction(...)`
`ethereum.submitTransaction(tx);`
Note: sending transactions is only possible after sync is fully finished.

[2016-10-04 08:55] Nashatyrev commented on #531
Just got the situation similar to the original on my home Win machine:
[code]
Next run it worked fine and passed the block `2287802`
That was the pure core run only (`org.ethereum.Start`) have no ideas what can cause such flashing bug
@zilm13 if we don't find the reason we may want to revert your fix https://github.com/ethereum/ethereumj/commit/28792cad9858e520f068d37fe46d295c41413c2b for the next

[2016-10-04 12:14] cupuyc commented on #518
I saw the same exception
https://gist.github.com/cupuyc/5c68e43a6a606d4b545436c01bcdb473
[code]

[2016-10-04 12:52] zilm13 commented on #550
@Nashatyrev
https://github.com/ethereum/ethereumj/commit/19f597c64341510e88d064a05797226a828ccb34
What should be changed?
Also I've messed up with reverts in this branch, don't notice

[2016-10-04 15:17] zilm13 commented on #518
Catched it again

are sending blocks like this (not all, just part among good blocks):
`RLP.decode2(new byte [] {-62, -128, -64})`

We are getting exception, disconnect, and it doesn't affect reputation of these nodes for us
There are other nodes with the same versions of Parity, and I don't see them in disconnect messages.

@Nashatyrev what do you think? I think we should at least catch it and de

[2016-10-04 16:09] #506 closed

[2016-10-04 16:09] #507 closed

[2016-10-04 18:24] Nashatyrev commented on #555
Resolved with https://github.com/ethereum/ethereumj/commit/f279c9b6127ae30ece663e955b752aec22efe217

[2016-10-04 18:24] #555 closed

[2016-10-04 18:26] Nashatyrev commented on #556
You may also want to call `Ethereum.close()` before exit to gracefully shutdown.
Please ask technical EthereumJ questions on our public slack channel: https://gitter.im/ethereum/ethereumj

[2016-10-04 18:26] #556 closed

[2016-10-04 18:28] Nashatyrev commented on #543
Resolved with https://github.com/ethereum/ethereumj/pull/551/commits/0e38a1bb0a0519e4a3dfecc233f1511b258ee9bb

[2016-10-04 18:28] #543 closed

[2016-10-04 19:05] Nashatyrev commented on #518
@zilm13 Hm interesting question...
Fixed the related bug here:
https://github.com/ethereum/ethereumj/commit/f5bfece610a5507dfd6a162f674fc3ddb26fb3e1
I.e. Geth nodes just skip non-existing block.
I'm not sure what parity means by `{-62, -128, -64}`
M.b. it make sense to check with Parity code on this?

[2016-10-05 09:25] Nashatyrev opened #557 "Incorrect processing of NewBlockHashes message"
We are incorrectly processing `NewBlockHashes` when number of hashes > 1:
[code]

[2016-10-05 11:53] zilm13 commented on #557
please, take a look at #558

[2016-10-05 12:12] Nashatyrev opened #559 "Eth63 needs DB refactoring"
State Trie DB contains either non-leaf or leaf nodes. Leaf nodes are serialized `AccountState` object.
`AccountState` is `[nonce, balance, codeHash, contractStateRoot]`
Eth63 work as follows:
- ask for the state root of the most recent block (let's say it `0x1111`)
- ask for state root (`0x1111`) trie children, then their children etc. I.e. traverses State Trie
- when some leaf node is returned (e

[2016-10-05 12:50] zilm13 commented on #550
@Nashatyrev
I've researched what's happening with peers during long period of syncing in current state of network. What I've noticed:
- `DUPLICATE_PEER` from remote. Rare, usually the same peers that are getting `PING_TIMEOUT`. I think, we could ignore it.
- Almost empty list of active peers after ~hour, while full list on start. Looks good after fix, good number of active peers all the time.
- A